<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'ABOUT_INTRO_TITLE' | translate }}</h1>
      <p>{{ 'ABOUT_INTRO_LEAD' | translate }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>{{ 'ABOUT_PARA1' | translate }} <a href="http://data.imf.org/" target="_blanck">data.imf.org</a>{{ 'ABOUT_PARA11' | translate }} <a href="https://comtrade.un.org/" target="_blanck">comtrade.un.org</a>. {{ 'ABOUT_PARA111' | translate }} (<a href="http://ricardo.hypotheses.org/" traget="_blanck">http://ricardo.hypotheses.org/</a>)</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'TEAM_INTRO_TITLE' | translate }}</h2>
      <p>{{ 'TEAM_PARA1' | translate }}<br><br>{{ 'TEAM_PARA11' | translate }}</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="team-logotype">
        <img ng-src="svg/sciences-po-medialab.svg" alt="Logotype SciencePo MEDIALAB" />
        <img ng-src="svg/sciences-po-centre-histoire.svg" alt="Logotype SciencePo Centre d'histoire" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'CONTRIBUTORS_INTRO_TITLE' | translate }}</h2>
      <p>{{ 'CONTRIBUTORS_PARA1' | translate }}</p>
      <ul class="list-unstyled well">
        <li><strong>{{ 'CONTRIBUTORS_NAMELIST1' | translate }}</strong>, {{ 'CONTRIBUTORS_LIST1' | translate }}</li>
        <li><strong>{{ 'CONTRIBUTORS_NAMELIST2' | translate }}</strong>, {{ 'CONTRIBUTORS_LIST2' | translate }}</li>
        <li><strong>{{ 'CONTRIBUTORS_NAMELIST3' | translate }}</strong>, {{ 'CONTRIBUTORS_LIST3' | translate }}</li>
        <li><strong>{{ 'CONTRIBUTORS_NAMELIST4' | translate }}</strong>, {{ 'CONTRIBUTORS_LIST4' | translate }}</li>
        <li><strong>{{ 'CONTRIBUTORS_NAMELIST5' | translate }}</strong>, {{ 'CONTRIBUTORS_LIST5' | translate }}</li>
        <li><strong>{{ 'CONTRIBUTORS_NAMELIST6' | translate }}</strong>, {{ 'CONTRIBUTORS_LIST6' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="container container-page-last">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'COMMITTEE_INTRO_TITLE' | translate }}</h2>
      <p>{{ 'COMMITTEE_PARA1' | translate }}</p>
      <p>{{ 'COMMITTEE_PARA2' | translate }}</h3>
      <ul class="list-unstyled well">
        <li><strong>{{ 'COMMITTEE_NAMELIST1' | translate }}</strong> {{ 'COMMITTEE_LIST1' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST2' | translate }}</strong> {{ 'COMMITTEE_LIST2' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST3' | translate }}</strong> {{ 'COMMITTEE_LIST3' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST4' | translate }}</strong> {{ 'COMMITTEE_LIST4' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST5' | translate }}</strong> {{ 'COMMITTEE_LIST5' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST6' | translate }}</strong> {{ 'COMMITTEE_LIST6' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST7' | translate }}</strong> {{ 'COMMITTEE_LIST7' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST8' | translate }}</strong> {{ 'COMMITTEE_LIST8' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST9' | translate }}</strong> {{ 'COMMITTEE_LIST9' | translate }}</li>
        <li><strong>{{ 'COMMITTEE_NAMELIST10' | translate }}</strong> {{ 'COMMITTEE_LIST10' | translate }}</li>
      </ul>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="logotype-anr">
        <img ng-src="img/logotype-anr.png" alt="Logotype SciencePo MEDIALAB" class="pull-left" />
        <span>{{ 'LOGOTYPE_ANR' | translate }}</span>
      </div>
    </div>
  </div>
</div>
