<div class="container">
	<div class="row ">
	<h3>RICardo project's team</h3>
		<ul id="teamList">
			<li>
				<a href="http://chsp.sciences-po.fr/chercheur-permanent/dedinger">Béatrice Dédinger</a>, chercheur en histoire
			</li>
			<li>
				<a href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/">Paul Girard</a>, directeur technique du Medialab
			</li>
			<li>
				<a href="http://www.medialab.sciences-po.fr/fr/people/donato-ricci/">Donatto Ricci</a>, designer
			</li>
			<li>
				<a href="http://www.medialab.sciences-po.fr/fr/people/mathieu-jacomy/">Matthieu Jacomy</a>, ingénieur
			</li>
			<li>
				<a href="http://www.medialab.sciences-po.fr/fr/people/benjamin-ooghe-tabanou/">Benjamin Ooghr-Tabanou</a>, ingénieur
			</li>
			<li>
				<a href="http://www.medialab.sciences-po.fr/fr/people/guillaume-plique/">Guillaume Plique</a>, développeur
			</li>
			<li>
				<a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/">Grégory Tible</a>, développeur
			</li>
		</ul>
	</div>
</div>

