<div class="container">
    <div ng-show="missing" class="alert"> 
      <div class="modal-body" >
       <p>
          There is <strong>no data available</strong> in the database for {{entities.sourceEntity.selected.RICname}}
       </p>
       <p>
       between {{selectedMinDate}} and {{selectedMaxDate}}  
       </p>
        <p>
          Choose another one or change date selection, thank you !
       </p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" ng-click="ok()">Change fields manually</button> or 
          <button class="btn btn-default" ng-click="fieldsByDefault()">Set fields by default</button>
      </div>
    </div>
    <div ng-show="missingTarget" class="alert"> 
      <div class="modal-body" >
      <h4> {{message}} </h4>
       <p>
          There is <strong>no data available</strong> in the database for {{entities.sourceEntity.selected.RICname}} with {{entities.targetEntity.selected.RICname}}
       </p>
       <p>
       between {{selectedMinDate}} and {{selectedMaxDate}}  
       </p>
        <p>
          Choose another one or change date selection, thank you !
       </p>
      </div>
      <div class="modal-footer">
          <button class="btn btn-default" ng-click="okTarget()">Change fields manually</button> or 
          <button class="btn btn-default" ng-click="fieldsByDefault()">Set fields by default</button>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
    <p class="paragraphPage">
    </br>
    </br>
      La vue bilatérale montre le commerce entre un reporting country et un partner country. Elle précise quelles données miroirs sont disponibles pour le partner country et elle compare la divergence des flux miroirs entre les deux sources disponibles. 
    </p>
    <!-- <bilateral-title>  </bilateral-title> -->
    <h4>
  Trade between
  <inline-select-country ng-model="entities.sourceEntity.selected" list="reportingEntities" ></inline-select-country>
  and
  <inline-select-country ng-model="entities.targetEntity.selected" list="reportingEntities"></inline-select-country>
  - From
  <inline-select-year ng-model="selectedMinDate" list="rawYearsRange_forInf" ></inline-select-year>
  to
  <inline-select-year ng-model="selectedMaxDate" list="rawYearsRange_forSup" ></inline-select-year>
  as reported by {{entities.sourceEntity.selected.RICname}}
</h4>
    </br>
      <dual-timeline 
        ng-data="timelineData" 
        start-date="selectedMinDate" 
        end-date="selectedMaxDate">
      </dual-timeline>      
    </div>

    <div class="timeline-cont col-md-12">
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div> Import
        </div>
        <div class="legend-item">
          <div class="square export"></div> Export
        </div>
        <div class="legend-item">
          <div class="line available"></div> Available data
        </div>
        <div class="legend-item">
          <div class="line unavailable"></div> Unavailable data
        </div>
        <div class="legend-item">
          Data expressed in <strong>{{actualCurrency}}</strong>
        </div>
      </div>
      <br>
      <br>
      <h4>Available years in {{entities.sourceEntity.selected.RICname}} and {{entities.targetEntity.selected.RICname}} trade statistics</h4>
      <!-- <p class="paragraphViz">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus commodo leo a sagittis. Sed eu efficitur lorem. Phasellus at ex quis arcu accumsan blandit. Integer sit amet pharetra sapien, in tincidunt eros. Sed fringilla, leo ut vehicula cursus, tortor tortor sodales metus, ut pulvinar magna risus sed diam. Maecenas luctus iaculis rutrum. 
      </p> -->
      <brushing-timeline
        ng-data="timelineData"
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        raw-start-date="rawMinDate"
        raw-end-date="rawMaxDate"
        source-country="entities.sourceEntity.selected.RICname"
        target-country="entities.targetEntity.selected.RICname"
        mirror-lines="true"
        ng-model="timelineData"
        ng-change="dataChange()"
      ></brushing-timeline>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <h4>Comparison of {{entities.sourceEntity.selected.RICname}} and {{entities.targetEntity.selected.RICname}} trade statistics</h4>
      <p class="paragraphViz">
          This graph estimates the discrepancies in mirror flows. 
        </p>
      <comparison-timeline 
      ng-data="timelineData" 
      start-date="selectedMinDate" 
      end-date="selectedMaxDate">
      </comparison-timeline>
      <div class="legend">
        <div class="legend-item">
           <strong>A</strong> reporting : {{entities.sourceEntity.selected.RICname}} | <strong>B</strong> partner : {{entities.targetEntity.selected.RICname}}
           <br>
          <span class="legendImport">Imp A <-B </span> = country A imports from country B as reported by country A | <span class="legendExport">Imp B <-A </span> = country B imports from country A as reported by country B
          <br>
          <span class="legendImport">Exp B->A</span> = country B exports to country A as reported by country B | <span class="legendExport">Exp A->B</span> = country A exports to country B as reported by country A 
      </div>
      <div class="legend">
        <div class="legend-item">
        Mirror flows discrepancy
          <div class="line diff-import"></div>
          <strong>(Imp A <-B - Exp B->A) / Exp B->A</strong>
        </div>
        or
        <div class="legend-item">
          <div class="line diff-export"></div>
          <strong>(Imp B <-A - Exp A->B) / Exp A->B</strong>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Show/Hide data table
      </button>
      <button type="button" ng-click="download()" class="btn">
          Download data of entities selected
      </button>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="gridStyle" ng-grid="gridOptions">
        <div class="no-data" ng-hide="gridOptions.data.length && !loading"></div>
      </div>
    </div>
  </div>
</div>