<!-- <div missing></div> -->
<!-- <div id="sticky-marker"></div>
<div id="sticky-container"> -->
<div class="container">
  <div class="row">
    <div class="timeline-cont col-sm-12">
      <country-title></country-title>
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div> Import
        </div>
        <div class="legend-item">
          <div class="square export"></div> Export
        </div>
        <div class="legend-item">
          <div class="line available"></div> Available data
        </div>
        <div class="legend-item">
          <div class="line unavailable"></div> Unavailable data
        </div>
        <div class="legend-item">
          Data expressed in <strong>{{actualCurrency}}</strong>
        </div>
        <i class="fa fa-info-circle"></i>

      </div>
      <dual-timeline ng-data="timelineData" start-date="selectedMinDate" end-date="selectedMaxDate" ></dual-timeline>

      
    </div>
  </div>
</div>
<!-- </div> -->

  <div class="container">
    <div class="row" >
      <div id="countryBrushing" class="col-sm-12">
        <!-- <country-title id="alt-title" style="display:none;"></country-title> -->
        <brushing-timeline
          ng-data="timelineData"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
          raw-start-date="rawMinDate"
          raw-end-date="rawMaxDate"
          source-country="entities.sourceEntity.selected.RICname"
          target-country="entities.targetEntity.selected.RICname"
        ></brushing-timeline>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="subtitle">Trade of {{entities.sourceEntity.selected.RICname}} by partners, {{selectedMinDate}} – {{selectedMaxDate}} <i class="fa fa-info-circle"></i></h3>
      <div class="legend-item">
          Average share in <strong>pourcentage</strong> | Trade balance in <strong>sterling</strong>
      </div> 
    </div>
    <div class="col-md-6 inline-select" style="float:right;">
        
        <ui-select class="filterSelection" ng-model="filtered.selected" theme="bootstrap" style="float:right;">
        <match placeholder="Filter by...">{{$select.selected.name.value}}</match>
        <choices repeat="item in filters | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
        </ui-select>

        
        <ui-select class="filterSelection" ng-model="ordered.selected" theme="bootstrap" style="float:right;">
        <match placeholder="Order by...">{{$select.selected.name.value}}</match>
        <choices repeat="item in orders | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
        </ui-select>

        
        <ui-select class="filterSelection" ng-model="grouped.selected" theme="bootstrap" style="float:right;">
        <match placeholder="Group by...">{{$select.selected.name.value}}</match>
        <choices repeat="item in groups | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
        </ui-select>

        <!-- <button class="btn btn-default btn-xs" ng-click="clear()">Clear ng-model</button> -->
          
    </div>
  </div>

  <div id="select-doubleChart">
    <div class="row">
<!--       <div class="col-md-3">
        <h3 class="subtitle">choose a reporting country:</h3>
      </div> -->
      <div id="partners-histogram-container" class="col-sm-12">
        <div id="partners-histogram-container" class="partners-histogram" partners-histogram></div>
      </div>
    </div>
  </div>
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-sm-9">
      <h3 class="subtitle">Trade of {{entities.sourceEntity.selected.RICname}} with 
      <span ng-repeat="elm in reporting" ng-click="removeReporting(elm)" ng-style="{color:elm.color}" >{{elm.RICname}}
      <span ng-if="!$last">, </span>
      </span>, {{selectedMinDate}} – {{selectedMaxDate}}, in {{actualCurrency}}
      <i class="fa fa-info-circle"></i> </h3>
    </div>
    <div class="col-sm-2" style="float:right">
      <div class="filter-group" ng-show="RICentitiesDD.length">
          <div class="btn-group pull-right">
            <label class="btn btn-sm btn-default" ng-model="yValue" btn-radio="'total'" uncheckable>total</label>
            <label class="btn btn-sm btn-default" ng-model="yValue" btn-radio="'imp'" uncheckable>imports</label>
            <label class="btn btn-sm btn-default" ng-model="yValue" btn-radio="'exp'" uncheckable>exports</label>
          </div>
      </div>
    </div>
  </div>
  <div id="select-lineChart">
    <div>
      <h3 class="subtitle col-sm-2">select up to 5 partners:</h3>
    </div>
    <div class="select-dropdown col-sm-8" ng-show="RICentitiesDD.length">
      
      <ui-select  class="selectPartners" ng-model="entities.sourceCountryEntity.selected" theme="bootstrap">
        <match placeholder="Country...">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingCountryEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>

      <ui-select class="selectPartners" ng-model="entities.sourceColonialEntity.selected" theme="bootstrap">
        <match placeholder="Colonial area...">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingColonialEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>

      <ui-select class="selectPartners" ng-model="entities.sourceGeoEntity.selected" theme="bootstrap">
        <match placeholder="Geographical area...">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingGeoEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>

      <ui-select class="selectPartners" ng-model="entities.sourceContinentEntity.selected" theme="bootstrap">
        <match placeholder="Continent...">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingContinentEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>

      <ui-select class="selectPartners" ng-model="entities.sourceWorldEntity.selected" theme="bootstrap">
        <match placeholder="World aggregate...">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingWorldEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>
    
  <div class="row">
    
    <div class="col-sm-12">
      <div  id="linechart-world"  linechart-world></div>
    </div>
    
  </div>
</div>

  <div class="row">
    <div class="col-md-12"> 
    <scatter-plot ng-data="scatterData" start-date="selectedMinDate" end-date="selectedMaxDate"> <scatter-plot/>
    
    </div>
  </div>

  <!-- <div>
    <inline-select-year ng-model="selectedMinDate" list="rawYearsRange_forInf"></inline-select-year>
  </div> -->
  <div>
    <span id="min-time" style="float:left;">{{selectedMinDate}}</span>
    <span id="max-time" style="float:right;">{{selectedMaxDate}}</span>
    <input type="range" name="points" min="1787" max="1938" step="1" value="0" id="slider-time" >
  </div>

<!--   <div>
    <i class="fa fa-play" ng-click="play()"></i>
    <button ng-click="play()">RUN</button>
  </div> -->


  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Show/Hide data table
      </button>
      <button type="button" ng-click="download()" class="btn">
          Download data
      </button>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="gridStyle" ng-grid="gridOptions" >
        <div class="grid-overlay-msg" ng-hide="gridOptions.data.length && !loading">
          <div class="msg">
            <span>Loading Data...
            <i class="fa fa-spinner fa-spin"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>