<div class="container">
  <div ng-show="missing" class="alert"> 
    <div class="modal-body" >
     <p>
        There is <strong>no data available</strong> in the database for {{entities.sourceEntity.selected.RICname}}
     </p>
     <p>
     between {{selectedMinDate}} and {{selectedMaxDate}}  
     </p>
      <p>
        Choose another one or change date selection, thank you !
     </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="ok()">OK</button>
    </div>
  </div>
</div>
<!-- <div id="sticky-marker"></div>
<div id="sticky-container"> -->
<div class="container">

  <div class="row">
    <div class="timeline-cont col-sm-12">
      <country-title></country-title>
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div> Import
        </div>
        <div class="legend-item">
          <div class="square export"></div> Export
        </div>
        <div class="legend-item">
          <div class="line available"></div> Available data
        </div>
        <div class="legend-item">
          <div class="line unavailable"></div> Unavailable data
        </div>
        <div class="legend-item">
          Data expressed in <strong>Sterling</strong>
        </div>
        <i class="fa fa-info-circle"></i>

      </div>
      <dual-timeline 
        ng-data="timelineData" 
        start-date="selectedMinDate" 
        end-date="selectedMaxDate" 
      ></dual-timeline>   
    </div>
  </div>
</div>
<!-- </div> -->

<div class="container">
  
  <div class="row" >
    <div id="countryBrushing" class="col-sm-12">
      <brushing-timeline
        ng-data="timelineData"
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        raw-start-date="rawMinDate"
        raw-end-date="rawMaxDate"
        source-country="entities.sourceEntity.selected.RICname"
        target-country="entities.targetEntity.selected.RICname"
      ></brushing-timeline>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="subtitle">Balance of trade of {{entities.sourceEntity.selected.RICname}} with partners, {{selectedMinDate}} – {{selectedMaxDate}} <i class="fa fa-info-circle"></i></h3>
      <div class="legend-item">
          {{ordered.selected.name.value}} in <strong>pourcentage</strong> | Trade balance in <strong>sterling</strong>
      </div>
        <div class="legend-item">
          <strong>Balance : </strong> (Exports - Imports) / (Exports + Imports)
        </div> 
        <div class="legend-item">
          <strong>| Total | : </strong> Trade share average for available years
        </div> 
    </div>
    <div class="col-md-6 inline-select" style="float:right;">
        
        <ui-select class="filterSelection" ng-model="filtered.selected" theme="bootstrap" style="float:right;">
        <match placeholder="Filter by...">{{$select.selected.name.value}}</match>
        <choices repeat="item in filters | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
        </ui-select>

        
        <ui-select class="filterSelection" ng-model="ordered.selected" theme="bootstrap" style="float:right;">
        <match placeholder="Order by...">{{$select.selected.name.value}}</match>
        <choices repeat="item in orders | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
        </ui-select>

        
        <ui-select class="filterSelection" ng-model="grouped.selected" theme="bootstrap" style="float:right;">
        <match placeholder="Group by...">{{$select.selected.name.value}}</match>
        <choices repeat="item in groups | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
        </ui-select>
          
    </div>
  </div>

<div id="select-doubleChart">
    <div class="row">
      <div  class="col-sm-12">
        <partners-histogram 
        ng-data="tableData" 
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        country-data="entities.sourceEntity.selected"
        group-data="grouped.selected.type.value"
        order-data="ordered.selected.type.value"
        filter-data="filtered.selected.type.value"
        ></partners-histogram>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="subtitle">Trade of {{entities.sourceEntity.selected.RICname}} with 
      <span ng-repeat="elm in reporting" ng-click="removeReporting(elm)" ng-style="{color:elm.color}" >{{elm.RICname}}
      
      <span class="close-btn">
        <i class="fa fa-times"></i>
      </span>
      <span ng-if="!$last">, </span>
      </span>, {{selectedMinDate}} – {{selectedMaxDate}}, in {{actualCurrency}}
      <i class="fa fa-info-circle"></i> </h3>
        <div ng-show="messagePercent"> 
         <p>
            The percentages are based on the total amount of world sumpartners of {{entities.sourceEntity.selected.RICname}}
         </p>
        </div>
    </div>
  </div>
  <div class="row">    
    <div class="col-md-12 filter-group">
      <div class="btn-group pull-right">
        <label class="btn btnLineChart" ng-model="yValue" btn-radio="'total'" uncheckable>Total</label>
        <label class="btn btnLineChart" ng-model="yValue" btn-radio="'imp'" uncheckable>Imports</label>
        <label class="btn btnLineChart" ng-model="yValue" btn-radio="'exp'" uncheckable>Exports</label>
      </div>
      <div class="btn-group pull-right" style="margin-right:30px;">
        <label class="btn btnLineChart" ng-model="conversion" btn-radio="'sterling'" uncheckable>Sterling</label>
        <label class="btn btnLineChart" ng-model="conversion" btn-radio="'value'" uncheckable>Percent</label>
      </div>
  </div>
  </div>
  <div id="select-lineChart">
    <div>
      <h3 class="subtitle col-md-2" style="width:190px;">select up to 5 partners:</h3>
    </div>
    <div class="select-dropdown col-md-9" ng-show="RICentitiesDD.length" style="padding-top:10px;">
    
    <div class="inline-select" >
      <ui-select   ng-model="entities.sourceCountryEntity.selected" theme="bootstrap" ng-show="reportingCountryEntities.length">
        <match placeholder="Country">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingCountryEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>

    <div class="inline-select">
      <ui-select  ng-model="entities.sourceColonialEntity.selected" theme="bootstrap" ng-show="reportingColonialEntities.length">
        <match placeholder="Colonial area">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingColonialEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>

    <div class="inline-select">
      <ui-select  ng-model="entities.sourceGeoEntity.selected" theme="bootstrap" ng-show="reportingGeoEntities.length">
        <match placeholder="Geographical area">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingGeoEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>

    <div class="inline-select">
      <ui-select  ng-model="entities.sourceContinentEntity.selected" theme="bootstrap" ng-show="reportingContinentEntities.length">
        <match placeholder="Continent">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingContinentEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>

    <div class="inline-select">
      <ui-select  ng-model="entities.sourceWorldEntity.selected" theme="bootstrap" ng-show="reportingWorldEntities.length">
        <match placeholder="World aggregate">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingWorldEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>
  </div>
    
  <div class="row">

    
    <div class="col-sm-12">
      <linechart-world ng-data="linechartData">
      </linechart-world>
    </div>
    

  </div>
</div>
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Show/Hide data table
      </button>
      <button type="button" ng-click="download()" class="btn">
          Download data
      </button>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="gridStyle" ng-grid="gridOptions" >
        <div class="grid-overlay-msg" ng-show="loading">
          <div class="msg">
            <span>Loading Data...
            <i class="fa fa-spinner fa-spin"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>