<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'GLOSSARY_INTRO_TITLE' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <dl class="well">
        <dt>{{ 'GLOSSARY_TITLE1' | translate }}</dt>
        <dd>
          {{ 'GLOSSARY_DESC1' | translate }}
        </dd>
      </dl>
      <dl class="well">
        <dt>{{ 'GLOSSARY_TITLE2' | translate }}</dt>
        <dd>
          {{ 'GLOSSARY_DESC2' | translate }} <a href="http://correlatesofwar.org/" target="_blank">correlatesofwar.org</a>. {{ 'GLOSSARY_DESC22' | translate }}
        </dd>
      </dl>
      <dl class="well">
        <dt>{{ 'GLOSSARY_TITLE3' | translate }}</dt>
        <dd>
          {{ 'GLOSSARY_DESC3' | translate }}
        </dd>
      </dl>
      <div class="well">
        <dl>
          <dt>{{ 'GLOSSARY_TITLE4' | translate }}</dt>
          <dd>
            {{ 'GLOSSARY_DESC4' | translate }}
          </dd>
        </dl>
        <ul id="worldTrade">
          <li><strong>{{ 'GLOSSARY_NAMELIST1' | translate }}</strong>{{ 'GLOSSARY_LIST1' | translate }}</li>
          <li><strong>{{ 'GLOSSARY_NAMELIST2' | translate }}</strong>{{ 'GLOSSARY_LIST2' | translate }}</li>
          <li><strong>{{ 'GLOSSARY_NAMELIST3' | translate }}</strong>{{ 'GLOSSARY_LIST3' | translate }}</li>
          <li><strong>{{ 'GLOSSARY_NAMELIST4' | translate }}</strong>
          {{ 'GLOSSARY_LIST4' | translate }}</li>
          <li><strong>{{ 'GLOSSARY_NAMELIST5' | translate }}</strong>{{ 'GLOSSARY_LIST5' | translate }}<a href="http://www.ehes.org/EHES_93.pdf" target="_blank">“World trade, 1800-1938: a new data-set”, EHES Working paper 93</a> | <a href="http://www.ehes.org/WP%20Statistical%20Appendix%20tables%20(%202016)2.xlsx" target="_blank">Excel Data</a><br><br>{{ 'GLOSSARY_LIST44' | translate }}</li>
        </ul>
      </div>
      <dl class="well">
        <dt>{{ 'GLOSSARY_TITLE5' | translate }}</dt>
        <dd>
          {{ 'GLOSSARY_DESC5' | translate }}<br>{{ 'GLOSSARY_DESC55' | translate }} <a href="http://ricardo.medialab.sciences-po.fr/Dedinger_Girard_RICardo_HistoricalMethods.pdf" target="_blank">Historical Methods (en)</a>.<br>{{ 'GLOSSARY_DESC555' | translate }}
        </dd>
      </dl>
    </div>
  </div>
</div>
