<div class="view-page">
  <div top-menu class="row">
    
  </div>
    <div id="homeImage" class="row">
      <img ng-src="../img/ricepaper_v3.png" id="backHomeImage"/>
      <div>
        <h2 id="imgTitle">The RICardo Project</h2>
        <p id="imgSubtitle">Trade between Nations from ~1800 to 1938</p>
      </div>
    </div>
    <div class="container">
      <div id="homeSubtitle">
        {{ 'INTRO' | translate }}
      </div>
      <div class="row workingPaperContainer">
        <div class="spaceBetweenParagraphs noFloat">&bull;</div>
        <div class="col-md-6"> 
          {{ 'COLUMN1' | translate }}
          <a href="https://data.imf.org/">https://data.imf.org/</a>
          {{ 'COLUMN1_LINK' | translate }}
          <a href="http://comtrade.un.org/">http://comtrade.un.org/</a>

        </div>
        <div class="col-md-6"> 
          {{ 'COLUMN2' | translate }}
          <a href="mailto:beatrice.dedinger@siencespo.fr">beatrice.dedinger@siencespo.fr</a>
        </div>

        </div>
        <div class="spaceBetweenParagraphs noFloat">&bull;</div>
      </div>
   
    <div id="workingPaper">
      <div class="container">
        <div class="row workingPaperContainer">
          <div class="col-md-12">
            <p>{{ 'WORKING_PAPER_1' | translate }} <a href="http://dh2016.adho.org/">Digital Humanities 2016</a>.
            </p>

            <p>{{ 'WORKING_PAPER_2' | translate }} </p>
            
          </div>
          
            <div class="col-md-6 workingPaper">
              <h4>Abstract DH2016</h4>
              <ul>
                <li>
                  <a href="http://ricardo.medialab.sciences-po.fr/Girardetal_RICardo_dh2016_fr.pdf">abstract Ricardo DH 2016 (fr)</a>
                </li>
                <li>
                  <a href="http://ricardo.medialab.sciences-po.fr/Girardetal_RICardo_dh2016_en.pdf">abstract Ricardo DH 2016 (en)</a> 
                </li> 
              </ul>
            </div>
            <div class="col-md-6 workingPaper">
              <h4>Historical Methods</h4>
              <a href="http://ricardo.medialab.Sciences-po.fr/Dedinger_Girard_RICardo_HistoricalMethods.pdf">Working paper historical methods (en) </a>
            </div>
          </div>

      </div>
    </div>
      <div id="studies" class="page">
        <div class="container">
          <div class="spaceBetweenParagraphs noFloat">&bull;</div>
          <div>
          </br>
          </br>
            <div class="thumbnailStudy" id="studies">
              <span class="studyTitle">RICardo Vocabulary</span>

            </div>
            <ol class="storylinesContainer">
              <li class="storyline">

                <a ng-href="">
                <div class="slInfo">
                  <h5 class="slTitle">Trade flows</h5>
                  <p class="slPara">
                    {{ 'TRADE_FLOWS' | translate }}
                  </p>

                </div>
                </a>
              </li>
              <li class="storyline">

                <a ng-href=""><div class="slInfo">
                  <h5 class="slTitle">RIC entities</h5>
                  <p class="slPara"> 
                    {{ 'RICENTITIES' | translate }}
                  </p>
                </div>
                </a>
              </li>
              <li class="storyline">

                <a ng-href=""><div class="slInfo">
                  <h5 class="slTitle">Continent</h5>
                  <p class="slPara"> 
                    {{ 'CONTINENT' | translate }}
                  </p>

                </div></a>
              </li>
              <li class="storyline">
                <a ng-href="">
                <div class="slInfo">
                  <h5 id="worldTrade" class="slTitle">World trade / Total trade</h5>
                  <p class="slPara"> 
                    {{ 'WORLD_TRADE' | translate }}
                    <ul>
                      <li  class="slPara">
                        {{ 'WORLD_REPORTED' | translate }}
                      </li> 
                        
                      <li class="slPara">
                        {{ 'WORLD_SUM_PARTNERS' | translate }}
                      </li>
                      <li class="slPara">
                        {{ 'WORLD_SUB_REPORTING' | translate }}
                      </li>
                      <li class="slPara">
                        {{ 'WORLD_ESTIMATED' | translate }}
                      </li>
                      <li id="worldbestguess" class="slPara">
                        {{ 'WORLD_BESTGUESS' | translate }}
                      </li>
                    </ul>
                  </p>
                </div></a>
              </li>
              <li class="storyline">
                <a ng-href=""><div class="slInfo">
                  <h5 class="slTitle">Mirror Flows</h5>
                  <p class="slPara"> 
                    {{ 'MIRROR_FLOWS_1' | translate}}
                  </p>
                  <p class="slPara">
                    {{ 'MIRROR_FLOWS_2' | translate}}
                    <a href="http://ricardo.medialab.Sciences-po.fr/Dedinger_Girard_RICardo_HistoricalMethods.pdf"> historical methods (en) </a>. 
                  </p>
                  <p class="slPara">
                    {{ 'MIRROR_FLOWS_3' | translate}}
                  </p>

                </div></a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="footer"> -->
    <section id="footer">
      
    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-heading">
              Contribute
            </h2>
            <hr>
            <p class="links">
             Share your ideas or issues on : 
             <br>
             <span>
               <a href="https://github.com/medialab/ricardo/issues">https://github.com/medialab/ricardo/issues</a>
             </span>     
            </p>
            <br>
            <br>
            <br>
            <h2 class="section-heading">
              Source code
            </h2>
            <hr>
            <p class="links">
             RICardo is a website under MIT Licence. 
             <br>
             Source code and documentation available on Github :
             <span>
               <a href="https://github.com/medialab/ricardo">https://github.com/medialab/ricardo</a>
             </span>     
            </p>
          </div>
          <div class="col-md-6">
            <h2 class="section-heading" style="text-align:right;">
              CREDITS
            </h2>
            <hr>
            <br>
            <a href="http://www.medialab.sciences-po.fr" class="pull-right">
              <img src="../img/sciencespo_medialab.png" alt="Sciences Po medialab" style="width:200px;">
            </a>
            <br>
            <br>
            <br>
            <br>
            <p class="links" style="text-align:right; font-weight:bold;">
               <a href="https://twitter.com/medialab_scpo">@medialab_ScPo</a>
            </p>
            <p class="links" style="text-align:right; font-weight:bold;">
              Discover other médialab's tools on:
              <br>
              <a href="http://www.tools.medialab.sciences-po.fr" class="pull-right">
                tools.medialab.sciences-po.fr
              </a>
            </p>
            <br>
            <br>
            <a href="http://chsp.sciences-po.fr" class="pull-right">
              <img src="../img/sciencespo_chsp.png" alt="Sciences Po chsp" style="width:200px;" class="invert">
            </a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="links" style="text-align:right; font-weight:bold; float:right;">
               <a href="https://twitter.com/ScPo_CHSP">@ScPo_CHSP</a>
            </p>
          </div>
        </div>
      </section>
       <div class="container">
       <div style="margin:auto;text-align:center; margin-top:20px;">
         
       <a href="" >Legal notice</a>
       </div>
       
       </div>
  </div>
<!--   </div> -->
<!--   <div class="row noFloat" footer/>
</div>
 -->
