<div class="view-page">
  <div top-menu class="row">
    
  </div>
    <div id="homeImage" class="row">
      <img ng-src="../img/ricepaper_v3.png" id="backHomeImage"/>
      <div>
        <h2 id="imgTitle">The RICardo Project</h2>
        <p id="imgSubtitle">Trade between Nations from c. 1800 to 1938</p>
      </div>
    </div>
    <div class="container">
      <div id="homeSubtitle">
        {{ 'INTRO' | translate }}
      </div>
      <div class="row workingPaperContainer">
        <div class="spaceBetweenParagraphs noFloat">&bull;</div>
        <div class="col-md-6"> 
          {{ 'COLUMN1' | translate }}
          <a href="https://data.imf.org/">data.imf.org</a>
          {{ 'COLUMN1_LINK' | translate }}
          <a href="http://comtrade.un.org/">comtrade.un.org</a>

        </div>
        <div class="col-md-6"> 
          {{ 'COLUMN2' | translate }}
          <a href="mailto:beatrice.dedinger@siencespo.fr">beatrice.dedinger@siencespo.fr</a>
        </div>

        </div>
        <div class="spaceBetweenParagraphs noFloat">&bull;</div>
      </div>
   
    <div id="workingPaper">
      <div class="container">
        <div class="row workingPaperContainer">
          <div class="col-md-12">
            <p>{{ 'WORKING_PAPER_1' | translate }} <a href="http://dh2016.adho.org/">Digital Humanities 2016</a>.
            </p>

            <p>{{ 'WORKING_PAPER_2' | translate }} </p>
            
          </div>
          
            <div class="col-md-6 workingPaper">
              <h4>Abstract DH2016</h4>
              <ul>
                <li>
                  <a href="http://ricardo.medialab.sciences-po.fr/Girardetal_RICardo_dh2016_fr.pdf">abstract Ricardo DH 2016 (fr)</a>
                </li>
                <li>
                  <a href="http://ricardo.medialab.sciences-po.fr/Girardetal_RICardo_dh2016_en.pdf">abstract Ricardo DH 2016 (en)</a> 
                </li> 
              </ul>
            </div>
            <div class="col-md-6 workingPaper">
              <h4>Historical Methods</h4>
              <a href="http://ricardo.medialab.Sciences-po.fr/Dedinger_Girard_RICardo_HistoricalMethods.pdf">Working paper historical methods (en) </a>
            </div>
          </div>

      </div>
    </div>
      <div id="studies" class="page">
        <div class="container">
          <div class="spaceBetweenParagraphs noFloat">&bull;</div>
          <div>
          </br>
          </br>
            <div class="thumbnailStudy" id="studies">
              <span class="studyTitle">RICardo Vocabulary</span>

            </div>
            <ol class="storylinesContainer">
              <li class="storyline">

                <div class="slInfo">
                  <h5 class="slTitle">Trade flows</h5>
                  <p class="slPara">
                    {{ 'TRADE_FLOWS' | translate }}
                  </p>
                </div>
              </li>
              <li class="storyline">

                <div class="slInfo">
                  <h5 class="slTitle">RIC entities</h5>
                  <p class="slPara"> 
                    {{ 'RICENTITIES_1' | translate }} <a href="http://correlatesofwar.org\"> correlatesofwar.org</a> {{ 'RICENTITIES_2' | translate }}
                  </p>
                </div>
              </li>
              <li class="storyline">

                <div class="slInfo">
                  <h5 class="slTitle">Continent</h5>
                  <p class="slPara"> 
                    {{ 'CONTINENT' | translate }}
                  </p>

                </div>
              </li>
              <li class="storyline">
                <div class="slInfo">
                  <h5 id="worldTrade" class="slTitle">World trade / Total trade</h5>
                  <p class="slPara"> 
                    {{ 'WORLD_TRADE' | translate }}
                    <ul>
                      <li  class="slPara">
                        {{ 'WORLD_REPORTED' | translate }}
                      </li> 
                        
                      <li class="slPara">
                        {{ 'WORLD_SUM_PARTNERS' | translate }}
                      </li>
                      <li class="slPara">
                        {{ 'WORLD_SUB_REPORTING' | translate }}
                      </li>
                      <li class="slPara">
                        {{ 'WORLD_ESTIMATED' | translate }}
                      </li>
                      <li id="worldbestguess" class="slPara">
                        {{ 'WORLD_BESTGUESS' | translate }}
                      </li>
                    </ul>
                  </p>
                </div>
              </li>
              <li class="storyline">
                <div class="slInfo">
                  <h5 class="slTitle">Mirror Flows</h5>
                  <p class="slPara"> 
                    {{ 'MIRROR_FLOWS_1' | translate}}
                  </p>
                  <p class="slPara">
                    {{ 'MIRROR_FLOWS_2' | translate}}
                    <a href="http://ricardo.medialab.Sciences-po.fr/Dedinger_Girard_RICardo_HistoricalMethods.pdf"> historical methods (en) </a>. 
                  </p>
                  <p class="slPara">
                    {{ 'MIRROR_FLOWS_3' | translate}}
                  </p>

                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="footer"> -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-heading">
              Contribute
            </h2>
            <hr>
            <p class="links">
             Share your ideas or issues on : 
             <br>
             <span>
               <a href="https://github.com/medialab/ricardo/issues">https://github.com/medialab/ricardo/issues</a>
             </span>     
            </p>
            <br>
            <br>
            <br>
            <h2 class="section-heading">
              Source code
            </h2>
            <hr>
            <p class="links">
             RICardo is a website under MIT Licence. 
             <br>
             Source code and documentation available on Github :
             <span>
               <a href="https://github.com/medialab/ricardo">https://github.com/medialab/ricardo</a>
             </span>     
            </p>
          </div>
          <div class="col-md-6">
            <h2 class="section-heading" style="text-align:right;">
              CREDITS
            </h2>
            <hr>
            <a href="http://www.medialab.sciences-po.fr" class="pull-right">
              <img src="../img/sciencespo_medialab.png" alt="Sciences Po medialab" style="width:200px;">
            </a>
            <br>
            <br>
            <br>
            <br>
            <p class="links" style="text-align:right; font-weight:bold;">
               <a href="https://twitter.com/medialab_scpo">@medialab_ScPo</a>
            </p>
            <p class="links" style="text-align:right; font-weight:bold;">
              Discover other medialab's tools on:
              <br>
              <a href="http://www.tools.medialab.sciences-po.fr" class="pull-right">
                tools.medialab.sciences-po.fr
              </a>
            </p>
            <br>
            <a href="http://chsp.sciences-po.fr" class="pull-right">
              <img src="../img/sciencespo_chsp.png" alt="Sciences Po chsp" style="width:200px;" class="invert">
            </a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p style="text-align:right; font-weight:bold;">
               <a style="text-align:right; font-weight:bold;" href="https://twitter.com/ScPo_CHSP">@ScPo_CHSP</a>
            </p>
            <br>
            <p style="text-align:right; font-weight:bold;">
              <a href="#team" class="portfolio-link" data-toggle="modal">Team's project</a>
            </p>
          </div>
        </div>
      </section>
      <center><a href="#touModal" id="legal" class="portfolio-link" data-toggle="modal">legal notice</a></center>
       <!-- Terms of use Modal -->
    <div class="portfolio-modal modal fade" id="touModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Legal notice</h2>
                            <p class="item-intro text-muted"></p>
                            
                            <p>
                                The contents of this site were supplied by
                            </p>
                            <p>
                                Sciences Po
                                <br>
                                27 rue Saint-Guillaume
                                <br>
                                75337 Paris Cedex 07
                                <br>
                                Tel. : 01 45 49 50 50
                                <br>
                                Fax. : 01 42 22 31 26
                                <br>
                                webmestre ( AT ) sciencespo ( DOT ) fr
                                <br>
                                Contact webmaster : paul.girard ( AT ) sciencespo ( DOT ) fr
                            </p>
                            <h3>Publisher</h3>
                            <p>
                                Frédéric Mion, President of Sciences Po
                            </p>
                            <h3>Hosting</h3>
                            <p>
                                This internet site is hosted by Fondation Nationale des Sciences Politiques (FNSP), Sciences Po - Direction des Systèmes d'Information
                            </p>
                            <p>
                                APE Code: 803Z
                                <br>
                                27, rue saint Guillaume
                                <br>
                                75337 Paris cedex 07
                            </p>
                            <h3>Industrial and Intellectual Property</h3>
                            <p>
                                Except for explicitly licensed elements (website source codes), all information on this web site (text, photos, logos…) is protected by the copyrights held by Sciences Po or their partners.
                                <br>
                                Therefore, the information may not be reproduced, modified, republished, re-aired, translated, distributed or reused in any manner, without the written consent of Sciences Po.
                                <br>
                                The Sciences Po site’s title, concept and form, as well as its content, such as news, descriptions, illustrations and original images and their organisation, and any software compilation, source code and other elements contained on the Sciences Po site are the property of Sciences Po.
                            </p>
                            <h3>Hypertext Links</h3>
                            <p>
                                Our pages also contain links to other sites for which we are in no manner responsible, neither regarding their adhesion to public order or good conduct, on the one hand, nor regarding their personal data privacy policies and use, on the other.
                                <br>
                                By accessing an outside site, through a hypertext link, you accept that this access is carried out at your own risk. Therefore, Sciences Po will in no way be held responsible for any direct or indirect damages resulting from your access to an outside site through a hypertext link.
                            </p>
                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close legal notice</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="team" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>RICardo project's team</h3>
                            <ul id="teamList">
                                <li>
                                    <a href="http://chsp.sciences-po.fr/chercheur-permanent/dedinger">Béatrice Dedinger</a>, Chercheur au Centre d'histoire de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/paul-girard/">Paul Girard</a>, directeur technique du Medialab de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/donato-ricci/">Donatto Ricci</a>, designer au Medialab de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/mathieu-jacomy/">Matthieu Jacomy</a>, ingénieur au Medialab de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/benjamin-ooghe-tabanou/">Benjamin Ooghr-Tabanou</a>, ingénieur au Medialab de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/guillaume-plique/">Guillaume Plique</a>, développeur au Medialab de Sciences Po
                                </li>
                                <li>
                                    <a href="http://www.medialab.sciences-po.fr/fr/people/gregory-tible/">Grégory Tible</a>, développeur au Medialab de Sciences Po
                                </li>
                            </ul>
                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close team presentation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
<!--   </div> -->
<!--   <div class="row noFloat" footer/>
</div>
 -->
