<div class="container">
	<div class="row">
		<div class="col-md-12">
			</br>
			</br>
			<p class="paragraphPage">
				{{ 'METADATA_VIEW_INTRO' | translate }}
			</p>
		</div>
		<div class="col-md-12">
			<h4>
			 {{ 'METADATA_VIEW_TITLE' | translate }}
			 <div class="inline-select">
			      <ui-select ng-model="chartFlow" theme="bootstrap" ng-change="changeFlow(chartFlow)">
			        <match placeholder="Select flow type">{{$select.selected.name.value}}</match>
			        <choices repeat="item in flowChoices | filter: $select.search">
			          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
			        </choices>
			      </ui-select>
		   		</div>
		   	<br>
	   		{{ 'METADATA_VIEW_CTL1' | translate }}
	   		<div class="inline-select">
		        <ui-select ng-model="matrixLayout" theme="bootstrap" ng-change="changeMatrixLayout(matrixLayout)">
		          <match placeholder="Order By">{{$select.selected.name.value}}</match>
		          <choices repeat="item in matrixLayoutChoices | filter: $select.search">
		            <div ng-bind-html="item.name.value | highlight: $select.search"></div>
		          </choices>
		        </ui-select>
		    </div>
		    {{ 'METADATA_VIEW_CTL2' | translate }}
		    <div class="inline-select">
		        <ui-select ng-model="matrixColorBy" theme="bootstrap" ng-change="changeMatrixColor(matrixColorBy)">
		          <match placeholder="Color By">{{$select.selected.name.value}}</match>
		          <choices repeat="item in matrixColorChoices | filter: $select.search">
		            <div ng-bind-html="item.name.value | highlight: $select.search"></div>
		          </choices>
		        </ui-select>
		    </div>
		    <div class="inline-select pull-right">
		        <ui-select ng-model="reporting" theme="bootstrap">
		          <match placeholder="Find Reporting">{{$select.selected}}</match>
		          <choices repeat="item in entities | filter: $select.search">
		            <div ng-click="find(item)" ng-bind-html="item | highlight: $select.search"></div>
		          </choices>
		        </ui-select>
		    </div>
			</h4>
			<div ng-show="showBilateralTip" class="legend pull-right" >
		        <div class="legend-item" >
		          <div><strong>A:</strong> Number of partners reported by <strong>R</strong></div>
		          <div><strong>B:</strong> Number of reportings reports <strong>R</strong> as partner</div>
		          <div><strong>Bilateral Rate:</strong> A &cap; B /A &cup; B</div>
		        </div>
		     </div>
		    <reporting-synth
				ng-data="flow"
				flow-type="chartFlow"
				category="matrixColorBy"
			>
			</reporting-synth>
			<reporting-entities flat-data="flow"
			ng-data="flowEntities"
			flow-type="chartFlow"
			color="matrixColorBy"
			layout="matrixLayout"
			reporting="reporting"
			search="search"
			>
			</reporting-entities>
		</div>
		  <div class="row">
			    <div class="col-xs-12 col-sm-12 text-center shdt">
			      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
			          {{ 'DOWNLOAD_1' | translate }}
			      </button>
			      <button type="button" ng-click="download()" class="btn">
			          {{ 'DOWNLOAD_2' | translate }}
			      </button>
			    </div>
			  </div>
			  <div ng-if="viewTable" class="row table-cont">
			    <div class="col-xs-12 col-sm-12 grid-cont">
			      <div class="gridStyle" ng-grid="gridOptions"></div>
			    </div>
			  </div>
	</div>
</div>