<div class="container">
	<div class="row">
		<div class="col-md-12">
			</br>
			</br>
			<p class="paragraphPage">
				{{ 'METADATA_VIEW_INTRO' | translate }}
			</p>
		</div>
		<div class="col-md-12">
			<h4>{{ 'METADATA_NBFLOW_TITLE' | translate }} in 
			<div class="inline-select">
		      <ui-select ng-model="chartFlow" theme="bootstrap" ng-change="changeFlow(chartFlow)">
		        <match placeholder="Select flow type">{{$select.selected.name.value}}</match>
		        <choices repeat="item in flowChoices | filter: $select.search">
		          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
		        </choices>
		      </ui-select>
		   	</div>
			</h4>
			<p class="paragraphPage">
				{{ 'METADATA_NBFLOW_INTRO' | translate }}
			</p>
			<div class="legend">
		        <div class="legend-item">
		          <div class="square world"></div> World trade flows
		        </div>
		          <div class="legend-item">
		            <div class="square bilateral"></div> Bilateral trade flows 
		          </div>
		    </div>
			<number-flows
				ng-data="nbFlows"
				flow-type="chartFlow">
			</number-flows>
			</div>
		<div class="col-md-12">
			<h4>
			 {{ 'METADATA_MATRIX_TITLE' | translate }} 
		   	</h4>
		   	<p class="paragraphPage">
		   	{{ 'METADATA_MATRIX_INTRO' | translate }} 
		   	</p>
		   	<h4>
	   		{{ 'METADATA_MATRIX_CTL1' | translate }}
	   		<div class="inline-select">
		        <ui-select ng-model="matrixLayout" theme="bootstrap" ng-change="changeMatrixLayout(matrixLayout)">
		          <match placeholder="Order By">{{$select.selected.name.value}}</match>
		          <choices repeat="item in matrixLayoutChoices | filter: $select.search">
		            <div ng-bind-html="item.name.value | highlight: $select.search"></div>
		          </choices>
		        </ui-select>
		    </div>
		    {{ 'METADATA_MATRIX_CTL2' | translate }}
		    <div class="inline-select">
		        <ui-select ng-model="matrixColorBy" theme="bootstrap" ng-change="changeMatrixColor(matrixColorBy)">
		          <match placeholder="Color By">{{$select.selected.name.value}}</match>
		          <choices repeat="item in matrixColorChoices | filter: $select.search">
		            <div ng-bind-html="item.name.value | highlight: $select.search"></div>
		          </choices>
		        </ui-select>
		    </div>
		    <div class="inline-select pull-right">
		        <ui-select ng-model="reporting" theme="bootstrap">
		          <match placeholder="Find Reporting">{{$select.selected}}</match>
		          <choices repeat="item in entities | filter: $select.search">
		            <div ng-click="find(item)" ng-bind-html="item | highlight: $select.search"></div>
		          </choices>
		        </ui-select>
		    </div>
			</h4>

			<!-- <div>
				<ul class="listIntro">
	                <li>
	                 Reporting type: {{ "METADATA_MATRIX_INTRO_1" | translate}}
	                </li>
	                <li>
	                 Reporting continent: {{ "METADATA_MATRIX_INTRO_2"| translate}}	
	                </li>
	                <li>
	                Source type:{{ "METADATA_MATRIX_INTRO_3" | translate}}
	                </li> 
	                <li>
	                World partner: {{ "METADATA_MATRIX_INTRO_4"| translate}}
	                </li> 
	                <li>
	                Number of partners: {{"METADATA_MATRIX_INTRO_5" | translate}}
	                </li> 
	                <li>
	                Mirror rate: {{ "METADATA_MATRIX_INTRO_6" | translate}}
	                </li> 
	             </ul>
			</div> -->
			<div class="matrixIntro">
				<div>
					<p><strong>Number of Reportings Color by</strong>
					<br>
					<strong><u>{{ matrixColorBy.name.value}}</u>: </strong>{{"METADATA_MATRIX_INTRO_"+colorByIndex | translate}}</p>
				</div>
				<div ng-show="showBilateralTip">
				      <div><strong>A:</strong> Number of partners reported by <strong>R</strong></div>
				      <div><strong>B (mirror partners):</strong> Number of reporting which reports <strong>R</strong> as partner </div>
				      <div><strong>M:</strong> Maximum number of mirror partners reported by a reporting/year</div>
				      <div><strong>Mirror Rate: (B/A) x (B/M)</strong></div>
				</div>
			</div>
			
		    <reporting-synth
				ng-data="flow"
				flow-type="chartFlow"
				category="matrixColorBy"
			>
			</reporting-synth>
			<reporting-entities flat-data="flow"
			ng-data="flowEntities"
			flow-type="chartFlow"
			color="matrixColorBy"
			layout="matrixLayout"
			reporting="reporting"
			search="search"
			>
			</reporting-entities>
		</div>
		  <div class="row">
			    <div class="col-xs-12 col-sm-12 text-center shdt">
			      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
			          {{ 'DOWNLOAD_1' | translate }}
			      </button>
			      <button type="button" ng-click="download()" class="btn">
			          {{ 'DOWNLOAD_2' | translate }}
			      </button>
			    </div>
			  </div>
			  <div ng-if="viewTable" class="row table-cont">
			    <div class="col-xs-12 col-sm-12 grid-cont">
			      <div class="gridStyle" ng-grid="gridOptions"></div>
			    </div>
			  </div>
	</div>
</div>