<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>
				Trade network of nations in 
				<inline-select-year ng-model="selectedDate" list="allYears"></inline-select-year>
			</h2>
			<p>
				Choose a year to display a network of trade between nations.
				Size of network depends of reportings nulber for the year. For more information see world view.
			</p>
			 <button type="button" class="btn" ng-click="startLayout()">
			 	Start Layout
			 </button>
			 <button type="button" class="btn" ng-click="stopLayout()">
			 	Stop Layout
			 </button>
			 <button type="button" class="btn" ng-click="snapshot()" style="float:right;">
			 	Snapshot
			 </button>
			<div id="network">
				
			</div>
			<center style="margin-top:20px;">
			 <button type="button" class="btn" ng-click="unzoom()">
			 	Unzoom
			 </button>
			 <button type="button" class="btn" ng-click="rescale()">
			 	Rescale
			 </button>
			 <button type="button" class="btn" ng-click="zoom()">
			 	Zoom
			 </button>
			</center> 
			<div class="col-md-12">
				<h2>List of partner</h2>
				
			</div>
		</div>
	</div>
</div>