<!-- <div id="sticky-marker"></div>
<div id="sticky-container"> -->
  <div class="container">
    <div class="row">
      <div class="timeline-cont col-sm-12">
        <world-title></world-title>
        <div class="legend">
        <div class="legend-item">
          <div class="square import"></div> Import
        </div>
          <div class="legend-item">
            <div class="square export"></div> Export
          </div>
          <div class="legend-item">
            <div class="line available"></div> Available data
          </div>
          <div class="legend-item">
            <div class="line unavailable"></div> Unavailable data
          </div>
          <div class="legend-item">
            Data expressed in <strong>sterling pound</strong>
          </div>
        </div>
        <dual-timeline 
        ng-data="timelineData" 
        start-date="selectedMinDate" 
        end-date="selectedMaxDate" 
        ></dual-timeline>
      </div>
    </div>
  </div>
<!-- </div> -->

<div class="container">
    <div class="row" >
      <div class="col-sm-12">
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div> Reportings available to build the curve
        </div>
      </div>
        <bar-chart 
          ng-data="nbReportings"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
          raw-start-date="rawMinDate"
          raw-end-date="rawMaxDate"
          ></bar-chart>
      </div>
    </div>

</div>

<div class="container">
  <div class="row">
      <div class="col-sm-12">
       <h3 class="subtitle">World trade comparaison with 
        <span ng-repeat="elm in reporting" ng-click="removeReporting(elm)" ng-style="{color:elm.color}" >{{elm.RICname}}
        <span class="close-btn">X</span>
        <span ng-if="!$last">, </span>
        </span>, {{selectedMinDate}} – {{selectedMaxDate}}, in {{actualCurrency}}
        <i class="fa fa-info-circle"></i> </h3>
      </div>
  </div>
  <div class="row">  
    <div class="col-sm-12 filter-group" >
        <div class="btn-group pull-right">
          <label class="btn btnLineChart" ng-model="yValue" btn-radio="'total'" uncheckable>Total</label>
          <label class="btn btnLineChart" ng-model="yValue" btn-radio="'imp'" uncheckable>Imports</label>
          <label class="btn btnLineChart" ng-model="yValue" btn-radio="'exp'" uncheckable>Exports</label>
        </div>
        <div class="btn-group pull-right" style="margin-right:30px;">
          <label class="btn btnLineChart" ng-model="conversion" btn-radio="'sterling'" uncheckable>Sterling</label>
          <label class="btn btnLineChart" ng-model="conversion" btn-radio="'value'" uncheckable>Percent</label>
        </div>
    </div>
  </div>
  <div id="select-lineChart">
    <div>
      <h3 class="subtitle col-md-3">Select up to 5 reportings :</h3>
    </div>
    <div class="select-dropdown col-md-9" style="padding-top:10px;">

      <div class="inline-select" >
        <ui-select   ng-model="entities.sourceCountryEntity.selected" theme="bootstrap">
          <match placeholder="Country">{{$select.selected.RICname}}</match>
          <choices repeat="item in reportingCountryEntities | filter: $select.search">
            <div ng-bind-html="item.RICname | highlight: $select.search"></div>
          </choices>
        </ui-select>
      </div>

    <div class="inline-select" >
      <ui-select  ng-model="entities.sourceColonialEntity.selected" theme="bootstrap">
        <match placeholder="Colonial area">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingColonialEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>
      <!-- no need geoEntities beacause there is no data for this entity with worldbestguess -->
    <div class="inline-select" >
      <ui-select  ng-model="entities.sourceGeoEntity.selected" theme="bootstrap">
        <match placeholder="Geographical area">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingGeoEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>

    <div class="inline-select" >
      <ui-select  ng-model="entities.sourceContinentEntity.selected" theme="bootstrap">
        <match placeholder="Continent">{{$select.selected.RICname}}</match>
        <choices repeat="item in reportingContinentEntities | filter: $select.search">
          <div ng-bind-html="item.RICname | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
    
<!--       <div ng-show="c" class="alert"> 
        <div class="modal-body" >
         <p>
            There is <strong>no data available</strong> in the database for {{entitiesMissing}}
         </p>
         <p>
         between {{selectedMinDate}} and {{selectedMaxDate}}  
         </p>
          <p>
            Choose another one or change date selection, thank you !
         </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="ok()">OK</button>
        </div>
    </div> -->
      <linechart-world ng-data="linechartData">
      </linechart-world>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Show/Hide data table
      </button>
      <button type="button" ng-click="download()" class="btn">
          Download data
      </button>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
  </div>
</div>
</div>