<div class="container">
    </br>
    </br>
    <p class="paragraphPage">
     {{ 'WORLD_VIEW_INTRO_1' | translate }}<em>World</em>{{ 'WORLD_VIEW_INTRO_2' | translate }}
    </p>

    <div class="col-sm-12">
      <h4>{{ 'WORLD_COMPARE_TITLE' | translate }} in
        <div class="inline-select">
            <ui-select ng-model="multichartLayout" theme="bootstrap" ng-change="changeMultiLayout(multichartLayout)">
              <match placeholder="Select grouped or multiple layout">{{$select.selected.name.value}}</match>
              <choices repeat="item in multichartLayoutChoices | filter: $select.search">
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </choices>
            </ui-select>
        </div>
        for
        <div class="inline-select">
            <ui-select ng-model="multichartFlow" theme="bootstrap" ng-change="changeMultiFlow(multichartFlow)">
              <match placeholder="Select flow type">{{$select.selected.name.value}}</match>
              <choices repeat="item in multiFlowChoices | filter: $select.search">
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </choices>
            </ui-select>
          </div>
          {{ 'FROM' | translate }}
          <inline-select-year ng-model="selectedMinDate" list="rawYearsRange_forInf"></inline-select-year>
          {{ 'TO' | translate }}
          <inline-select-year ng-model="selectedMaxDate" list="rawYearsRange_forSup"></inline-select-year>
        </h4>
        <reporting-world
              ng-data="flowWorld"
              start-date="selectedMinDate"
              end-date="selectedMaxDate"
              flow-type="multichartFlow"
              layout="multichartLayout">
        </reporting-world>
        <div class="legend">
        <div class="legend-item">
            <div class="square worldbestguess"></div> World Best Guess
          </div>
          <div class="legend-item">
            <div class="square worldreport"></div> World as Reported
          </div>
          <div class="legend-item">
            <div class="square worldsum"></div> World Sum Partners
          </div>
          <div class="legend-item">
            <div class="square worldfederico"></div> World Federico-Tena
          </div>
          <div class="legend-item">
            {{ 'CURRENCY' | translate }} <strong>pound sterling</strong>
          </div>
        </div>
    </div>
    <div class="row timeline-cont">
      <div class="col-xs-12 col-sm-12">
        <h4>
          {{ 'WORLD_VIEW_TITLE' | translate }}
          with
          <div class="inline-select">
            <ui-select ng-model="worldPartner" theme="bootstrap" ng-change="changeWorldPartner(worldPartner)">
              <match placeholder="Select world partner">{{$select.selected.name.value}}</match>
              <choices repeat="item in worldPartnerChoices | filter: $select.search">
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </choices>
            </ui-select>
          </div>
        </h4>
        <p class="paragraphViz">
         {{ 'WORLD_VIEW_1' | translate }} <!-- <a href="/#/#worldTrade">World trade / Total trade</a> -->
         <a href="" ng-click="goTo('/#worldTrade')">{{worldPartner.name.value}}</a>
        </p>
        <dual-timeline
          ng-data="timelineData"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
        ></dual-timeline>

        <div class="legend">
        <div class="legend-item">
          <div class="square import"></div> Import
        </div>
          <div class="legend-item">
            <div class="square export"></div> Export
          </div>
          <div class="legend-item">
            {{ 'CURRENCY' | translate }} <strong>pound sterling</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <br>
        <br>
        <h4> {{ 'WORLD_NB_REPORTINGS' | translate }}</h4>
        <bar-chart
          ng-data="nbReportings"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
          raw-start-date="rawMinDate"
          raw-end-date="rawMaxDate"
          ></bar-chart>
        <div class="legend">
          <div class="legend-item">
            <div class="square import"></div> {{ 'WORLD_REPORTINGS_1' | translate }}
            <a href="" ng-click="goTo('/#worldTrade')">{{worldPartner.name.value}}</a>
            {{ 'WORLD_REPORTINGS_2' | translate }}
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <br>
      <br>
      <h4 class="titleDualTL"> {{ 'WORLD_COMPARAISON' | translate }}

      <div class="inline-select" >
        <ui-select  ng-model="entities.sourceCountryEntity1.selected" theme="bootstrap" ng-change="change(entities.sourceCountryEntity1.selected)" >
          <match placeholder="Country"></match>
          <choices repeat="item in reportingCountryEntities1 | filter: $select.search">
            <div ng-bind-html="item.RICname | highlight: $select.search"></div>
          </choices>
        </ui-select>
      </div>
      </br>
      {{selectedMinDate}} – {{selectedMaxDate}}, in
      <div class="inline-select">
        <ui-select ng-model="linechartCurrency" theme="bootstrap" ng-change="changeCurrency(linechartCurrency)">
          <match placeholder="Select sterling or percent">{{$select.selected.name.value}}</match>
          <choices repeat="item in linechartCurrencyChoices | filter: $select.search">
            <div ng-bind-html="item.name.value | highlight: $select.search"></div>
          </choices>
        </ui-select>
    </div>
    for
    <div class="inline-select">
      <ui-select ng-model="linechartFlow" theme="bootstrap" ng-change="changeFlow(linechartFlow)">
        <match placeholder="Select type flow">{{$select.selected.name.value}}</match>
        <choices repeat="item in linechartFlowChoices | filter: $select.search">
          <div ng-bind-html="item.name.value | highlight: $select.search"></div>
        </choices>
      </ui-select>
    </div>
    <div class="subtitle">{{'LINE_CHART_SELECT' | translate }} </div></br>
    <span ng-repeat="elm in reporting" ng-click="removeReporting(elm)" ng-style="{color:elm.color}" >{{elm.RICname}}
      <span class="close-btn">
       <i class="fa fa-times-circle"></i>
      </span>
      <span ng-if="!$last">, </span>
      </span>
      </h4>
        <p class="paragraphViz">
          {{ 'WORLD_LINES_1' | translate }} 
          <a href="" ng-click="goTo('/#worldTrade')">{{'WORLD_TRADE' | translate}}</a> {{ 'WORLD_LINES_2' | translate }} <a href="" ng-click="goTo('/#worldTrade')">{{worldPartner.name.value}}</a>
        </p>
        <!-- <div ng-show="messagePercent">
         <p>
            The percentages are based on the total amount of <a href="/#worldTrade"> world bestguess</a> of {{entities.sourceEntity.selected.RICname}}
         </p>
        </div> -->
    </div>
  </div>
  <div id="select-lineChart" >
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <linechart-world 
      ng-data="linechartData" 
      currency="linechartCurrency"
      start-date="selectedMinDate"
      end-date="selectedMaxDate"
      view="view">
      </linechart-world>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center shdt">
      <button type="button" class="btn" ng-model="viewTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          {{ 'DOWNLOAD_1' | translate }}
      </button>
      <button type="button" ng-click="download()" class="btn">
          {{ 'DOWNLOAD_2' | translate }}
      </button>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-xs-12 col-sm-12 grid-cont">
      <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
  </div>
</div>
</div>