# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Mac hidden file
.DS_Store

# Client bower components
client/lib/bower_components/
client/node_modules
# Client data
client/src/js/config.js
client/dist

# data
*.sqlite
client/src/public/data/*.csv
database_creation/out_data/*.sqlite
database_creation/out_data/*.csv
database_creation/in_data/*.csv
database_creation/in_data/*.mdb


# API log
ricardoapi.log*

# Libreoffice lock files
.~lock.*

# Docker
./docker-compose.yml
