image: docker:stable

stages:
  - build
  - deploy

variables:
  CLIENT_IMAGE_NAME: $CI_REGISTRY_IMAGE/ricardo-client:$CI_COMMIT_REF_SLUG
  API_IMAGE_NAME: $CI_REGISTRY_IMAGE/ricardo-api:$CI_COMMIT_REF_SLUG
  DATA_VERSION_REF: "2026.02"

build_client:
  stage: build
  script:
    - docker build -t $CLIENT_IMAGE_NAME --build-arg "STATIC_URL=$BASEURL" --build-arg "DATA_VERSION_REF=$DATA_VERSION_REF"  -f ./client/Dockerfile .
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker push $CLIENT_IMAGE_NAME
  environment:
    name: $CI_COMMIT_REF_SLUG
  only:
    - master
    - staging
    - prod
    - tags

build_api:
  stage: build
  script:
    - docker build -t $API_IMAGE_NAME --build-arg "DATA_VERSION_REF=$DATA_VERSION_REF" api
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker push $API_IMAGE_NAME
  environment:
    name: $CI_COMMIT_REF_SLUG
  only:
    - master
    - staging
    - prod
    - tags

deploy:
  image:
    name: jrisp/kubehelper:latest
    entrypoint: [""]
  stage: deploy
  dependencies:
    - build_client
    - build_api
  before_script:
    - export KUBECONFIG=$kubeconfig_file
  script:
    - NS=ricardo
    - kubectl apply -f k8s/namespace.yml
    - cp ${API_SECRETS} k8s/overlays/$CI_COMMIT_REF_SLUG/api.env
    - kubectl apply -k k8s/overlays/$CI_COMMIT_REF_SLUG
    - kubectl -n ${NS} rollout restart deployment ${NS}-api
    - kubectl -n ${NS} rollout restart deployment ${NS}-client
  environment:
    name: $CI_COMMIT_REF_SLUG
  only:
    - staging
    - prod
