/* Page transition */
.fade-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade-view.ng-enter,
.fade-view.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade-view.ng-enter {
    opacity: 0;
}
.fade-view.ng-enter-active {
    opacity: 1;
}
.fade-view.ng-leave {
    opacity: 1;
}
.fade-view.ng-leave-active {
    opacity: 0;
}
