/*
 * Alert
 */

/* Breakpoint info
 * 480px (xs)
 * 768px (sm)
 * 992px (md)
 * 1200px (lg)
 */

.alert {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    background-color: #e7e7e7;
    border: #777;
    border-radius: 0px;
    z-index: 10000;
    color: #555;
}

/*
 * Modal
 */

.modal-content {
    border-radius: 0px;
    text-align: center;
}

.modal-footer {
    text-align: center;
}

/*
 * Global style
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    background-color: #f5f5f5;
    margin-bottom: 4em;
}

/* Responsive */
@media (max-width: 767px) {
    body {
        margin-bottom: 9em;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'montserrat', 'Arial', sans-serif;
    font-weight: normal;
    color: #1c747f;
}

footer {
    position: absolute;
    bottom: -1em;
    width: 100%;
    height: 4em;
    background-color: #0c393f;
}

footer ul {
    margin: 0;
    display: flex;
    justify-content: center;
}

footer a {
    display: block;
    margin: 1.2em 1.5em 0;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

footer a,
footer a:hover {
    color: white;
}

/* Responsive */
@media (max-width: 767px) {
    footer {
        height: 9em;
    }

    footer ul,
    footer ul.list-inline > li {
        display: block;
    }
}

/*
 * Affix navbar
 */

.affix {
    top: 0;
    z-index: 100;
    width: 100%;
    background: white;
    border-color: transparent;
    opacity: 1;
    -webkit-transition: all .335s ease-in-out;
    transition: all .35s ease-in-out;
}

.affix .navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    border-radius: 2px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #e2ac13;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e2ac13;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

.affix-top {
    border-color: transparent;
    opacity: 1;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.affix-top .navbar-brand img {
    width: 6em;
    height: 6em;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.affix-top .navbar-brand span {
    font-size: 3em;
}

.affix-top .navbar-brand:before {
    top: -9em;
    left: 4.5em;
    transform: scale(1) rotate(-20deg);
}

.affix-placeholder {
    display: none;
}

.affix + .affix-placeholder {
    display: block;
    visibility: hidden;
    height: 140px;
    width: 100%;
    overflow: auto;
}

.navbar-brand {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: inherit !important;
    padding-top: 0.5em  !important;
    padding-bottom: 0  !important;
}

.navbar-brand img {
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 50%;
}

.navbar-brand span {
    position: relative;
    z-index: 10;
    margin-left: 0.5em;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-weight: 600;
    color: white;
}

.navbar-brand:before {
    position: absolute;
    top: -8.8em;
    left: -3.9em;
    z-index: 0;
    content: '';
    width: 18em;
    height: 18em;
    background-color: #1c747f;
    transform: scale(0.35) rotate(-20deg);
    border-radius: 1.5em;
}

/* Responsive */
@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        z-index: 1000;
        position: relative;
        background: rgba(255, 255, 255, 0.8);
    }

    .affix-top .navbar-brand {
        transform: scale(0.7);
        top: 0;
        left: -4.5em;
    }

    .affix-top .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .affix-top .navbar-nav {
        margin-top: 2em;
    }
}

@media (max-width: 991px) {
    .affix-top > .container,
    .affix > .container {
        width: 100%;
    }
}

@media (max-width: 479px) {
    .affix-top .navbar-brand {
        top: -3em;
    }
}

/*
 * Navbar
 */

#nav .navbar-nav > li > a,
#nav .navbar-nav .btn-link,
#nav .navbar-right > li > .translateButtons,
#nav .dropdown-menu > li > a {
    color: #1f3b48;
    font-family: 'montserrat', 'Arial', sans-serif;
    font-weight: 300;
}

#nav .navbar-nav .btn-link {
    padding: 15px 1.5em 0 15px;
    border: none;
}

#nav .navbar-nav .btn-link svg {
    width: 0.8em;
    position: absolute;
    right: 0;
    top: 0.8em;
}

#nav .navbar-nav .btn-link:hover,
#nav .navbar-nav .btn-link:focus {
    text-decoration: none;
}

#nav .navbar-nav-menu > li {
    margin-left: 0;
}

#nav .navbar-nav-menu > li > .btn:hover,
#nav .navbar-nav-menu > li > a:hover {
    border-bottom: 2px solid #e2ac13;
}

#nav .navbar-nav-menu > li.active a {
    background-color: transparent !important;
    border-bottom: 2px solid #e2ac13;
}

#nav .navbar-nav > li > a,
#nav .navbar-nav .btn-link {
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 1.2em;
}

#nav .navbar-right > li > .translateButtons {
    text-transform: uppercase;
    font-variant: normal;
    font-weight: bold;
    font-size: 0.7em;
    cursor: pointer;
}

#nav .navbar-right > li {
    position: relative;
}

#nav .dropdown-menu > li > a:hover,
#nav .dropdown-menu > li > a:focus,
#nav .dropdown-menu > .active > a,
#nav .dropdown-menu > .active > a:hover,
#nav .dropdown-menu > .active > a:focus {
    background-color: #e2ac13;
    color: white;
}

/* Responsive */

@media (min-width: 1281px) {
    #nav .navbar-right {
        right: 4em;
    }
}

@media (min-width: 991px) {
    #nav .navbar-nav-menu > li {
        margin-left: 2em;
    }
}

@media (min-width: 769px) and (max-width: 1179px) {
    #nav .affix-top .navbar-nav {
        float: right;
    }
}

@media (max-width: 767px) {
    #nav .navbar-nav .btn-link {
        width: 100%;
        text-align: left;
        padding-bottom: 15px;
    }

    #nav .navbar-nav .btn-link svg {
        right: 1em;
    }
}

@media (min-width: 768px) {
    #nav .navbar-nav {
        float: right;
    }

    #nav .navbar-right {
        position: fixed;
        right: 1em;
        top: 0.2em;
    }

    #nav .navbar-right > li:first-child:after {
        position: absolute;
        top: 20px;
        right: 0;
        content: '';
        width: 1px;
        height: 12px;
        background-color: #333;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #nav .navbar-nav {
        float: left;
    }

    #nav .navbar-right > li > .translateButtons {
        padding: 15px 5px;
    }
}

/* Custom page CSS
-------------------------------------------------- */

#view {
    padding-top: 50px;
}

body > .container {
    padding: 53px 15px 60px 15px;
}

.container .text-muted {
    margin: 20px 0;
}

/*
 * Home
 */
.container-intro {
    padding-bottom: 5em;
}

.container-science,
.container-rss {
    padding-top: 5em;
    padding-bottom: 5em;
}

.container-links,
.container-rss {
    background-color: white;
}

.container-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10em;
    padding-bottom: 6em;
}

.container-links .col-md-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    color: #1c747f;
    font-weight: 400;
}

.home-title + p {
    color: #1c747f;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 13em;
    padding: 1.5em;
    background-color: #1c747f;
    transition: all .35s ease-in-out;
    transform: rotate(-15deg);
    border-radius: 1.5em;
}

.box-bg-world {
    margin-right: -3em;
    margin-top: -1em;
}

.box-bg-country {
    margin-top: 2em;
}

.box-bg-metadata {
    margin-left: -4em;
    margin-top: -2em;
}

.box-bg-world:before,
.box-bg-country:before,
.box-bg-bilateral:before,
.box-bg-metadata:before {
    transform: scale(0.8);
}

.box-bg:before {
    content: '';
    position: absolute;
    width: 20em;
    height: 20em;
    z-index: 0;
}

.box-bg-world:before {
    background: transparent url("../img/bg_home_world.png") no-repeat left top;
}

.box-bg-country:before {
    background: transparent url("../img/bg_home_country.png") no-repeat left top;
}

.box-bg-bilateral:before {
    background: transparent url("../img/bg_home_bilateral.png") no-repeat left top;
}

.box-bg-metadata:before {
    background: transparent url("../img/bg_home_metadata.png") no-repeat left top;
}

.box-container:hover {
    transition: all .35s ease-in-out;
    transform: scale(1.1) rotate(-15deg);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 15em;
    padding: 0;
    color: white;
    white-space: inherit;
    transition: all .35s ease-in-out;
    transform: rotate(15deg);
}

.box:hover {
    text-decoration: none;
    color: white;
    transition: all .35s ease-in-out;
}

.box h2 {
    margin-top: 0;
    color: white;
    font-size: 1.8em;
    font-weight: normal;
}

.box p {
    margin-bottom: 0;
    font-size: 0.9em;
    font-weight: 300;
}

.container-science a {
    color: #e2ac13;
}

h3.title-border {
    position: relative;
    font-size: 2.2em;
    margin-bottom: 1em;
}

.container-science h3:before {
    width: 4em;
}

.container-science h3 + p {
    color: #1c747f;
}

.title-border:before {
    position: absolute;
    bottom: -0.5em;
    left: 0;
    content: '';
    width: 4em;
    height: 2px;
    background-color: #e2ac13;
}

/* Responsive */
@media (min-width: 1270px) {
    .box-bg-country {
        margin-left: -6em;
    }

    .box-bg-bilateral {
        margin-right: -6em;
    }

    .box-bg-world:before,
    .box-bg-country:before,
    .box-bg-bilateral:before,
    .box-bg-metadata:before {
        transform: scale(1);
    }

    .box-bg-world:before {
        top: -6em;
        left: -4em;
    }

    .box-bg-country:before {
        top: -6em;
        right: 0;
    }

    .box-bg-bilateral:before {
        top: -5em;
        left: -3em;
    }

    .box-bg-metadata:before {
        top: -4em;
        right: -4em;
    }
}

@media (max-width: 991px) {
    .container-img {
        overflow: hidden;
        width: 100%;
        margin-bottom: 2em;
    }

    .box-bg-world,
    .box-bg-country,
    .box-bg-bilateral,
    .box-bg-metadata {
        margin-top: 0;
        margin-bottom: 6em;
    }

    .box-bg-world {
        margin-right: 0;
    }

    .box-bg-metadata {
        margin-left: 0;
    }
}

/*
 * Text presentation and definition
 */

.paragraphPage {
    width: 66%;
    font-size: 12px;
}

.matrixIntro {
    margin-left: 180px;
    margin-bottom: 0;
    font-size: 11px;
}

.paragraphViz {
    width: 66%;
    font-size: 11px;
    margin-top: 15px;
}

.paragraphViz ul li,
.paragraphViz ul,
.paragraphViz li {
    width: 66%;
    font-size: 11px;
}

/*
 * Select geo-entities dropdown
 */

#select {
    background-color: white;
    border: 1px solid #e7e7e7;
    min-height: 70px;
}

#select > div {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

#select > div:first-child,
#select > div:last-child {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #e7e7e7;
}

.select-dropdown .btn,
.select-dropdown .form-control {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999;

    /*min-height: 70px;*/
}

#select-lineChart .dropdown {
    float: left;
}

.select-dropdown .btn:hover {
    background-color: transparent;
}

.select-dropdown *:focus,
.select-dropdown *:active:focus {
    outline: 0;
}

.select-dropdown .dropdown-menu {
    border-color: #e7e7e7;
    border-radius: 0;
    border-width: 0 1px 1px 1px;
    font-size: 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 294px;
    left: -16px;
}

.select-dropdown .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #222;
    background-color: #e8e8e8;
}

.select-dropdown .dropdown-menu > li > a {
    padding: 10px 20px;
}

/*
 * Inline selector
 */

.filterSelection {
    padding-top: 10px;
}

.inline-select,
.inline-select .ui-select-bootstrap,
#select-doubleChart select {
    display: inline-block;
}

.inline-select input,
#select-doubleChart select {
    display: inline;
}

.inline-select .ui-select-bootstrap button,
#select-doubleChart select {
    padding-right: 30px;
    font-size: 16px;
    font-weight: 600;
}

.inline-select .btn,
.inline-select .form-control,
#select-doubleChart select {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #663333;
    background-color: #FAFAFA;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: 600;
}

.selectPartners > .ui-select-match {
    padding: 6px 8px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 5px;
}

.inline-select .btn:hover,
#select-doubleChart select {
    background-color: #FFF;
}

.inline-select *:focus,
.inline-select *:active:focus,
#select-doubleChart select {
    outline: 0;
}

.selectFilters .dropdown-menu,
#select-doubleChart select {
    font-size: 16px;
    font-weight: 600;
    color: #633;
}

#selectFilters {
    padding-top: 10px;
}

.inline-select .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
#select-doubleChart select {
    color: #222;
    background-color: #e8e8e8;
}

.inline-select .dropdown-menu > li > a,
#select-doubleChart select {
    padding: 10px 15px;
    color: #633;
}

.btnLineChart {
    font-size: 16px;
    font-weight: 600;
    color: #999;
    margin: 20px 0;
    border-bottom: 1px solid black;
}

.btnLineChart:hover {
    background-color: #FFF;
    color: #999;
}

/*
 * Timeline
 */

#dual-timeline-container > svg,
#comparison-timeline-container > svg {
    padding-top: 10px;
}

.timeline-cont,
.partnersHistoLegend {
    margin-top: 20px;
}

h4 {
    margin-bottom: 0;
    padding-bottom: 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #CCC;
    shape-rendering: crispEdges;
}

.y path {
    fill: none;
    stroke-width: 0;
}

.tick text,
.tick.minor text {
    font-size: 0.8em;
}

.brush {
    fill: black;
    fill-opacity: 0.1;
    stroke: none;
}

.area-imp,
.area-exp,
.area-total {
    fill: rgba(230, 230, 230, 0.4);
    stroke: none;
}

.line-imp {
    stroke: #cc6666;
    stroke-width: 1.5px;
    fill: none;
}

.line-exp {
    stroke: #663333;
    stroke-width: 1.5px;
    fill: none;
}

.line-total {
    stroke: black;
    stroke-width: 1.5px;
    fill: none;
}

.importBaseline {
    stroke: #cc6666;
    stroke-opacity: 0.2;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
}

.exportBaseline {
    stroke: #663333;
    stroke-opacity: 0.2;
    stroke-width: 1;
    fill: none;
    shape-rendering: crispEdges;
}

.baselineLabel {
    font-size: 0.8em;
}

.line-compare {
    stroke: #cc6666;
    stroke-width: 1.5px;
    fill: none;
}

.line-compare-alt {
    /*stroke: #dbb994;*/
    stroke: #663333;
    stroke-width: 1.5px;
    fill: none;
}

#brushing-timeline-container {
    background-color: #FAFAFA;
    margin-top: 15px;
}

#alt-title {
    height: 50px;
}

#alt-title h4 {
    margin-top: 6px;
    padding-bottom: 0px;
}

/*
 * Legend
 */

.legend {
    margin-top: 15px;
}

.legend .legend-item,
.legend-item {
    display: inline-block;
    margin-right: 12px;
    font-size: 0.8em;
}

.legend .square {
    display: inline-block;
    margin-bottom: -2px;
    width: 12px;
    height: 12px;
    background-color: #666;
}

.legend .square.import {
    background-color: #cc6666;
}

.legend .square.export {
    background-color: #663333;
}

.legend .square.worldsum {
    background-color: #bcbd22;
}

.legend .square.worldreport {
    background-color: #b82e2e;
}

.legend .square.worldestimate {
    background-color: #7b4173;
}

.legend .square.worldfederico {
    background-color: #109618;
}

.legend .square.worldbestguess {
    background-color: #316395;
}

.legend .square.world {
    background-color: #393b79;
}

.legend .square.bilateral {
    background-color: #ad494a;
}

.legend .square.federico {
    background-color: #637939;
}

.legend .line {
    display: inline-block;
    margin-bottom: 4px;
    width: 16px;
    border-bottom: 2px solid #666;
}

.legend .line.available {
    border-color: #cc6666;
}

.legend .line.unavailable {
    border-bottom: 1px solid #e5b2b2;
}

.legend .line.diff-import {
    border-color: #cc6666;
}

.legend .line.diff-export {
    border-color: #663333;
}

/*.legend .line.diff-export{    border-color: #dbb994; }*/

.legendImport {
    color: #cc6666;
}

.legendExport {
    /*color: #dbb994;*/
    color: #663333;
}

/*
 * Stream
 */

.stream-legend h4 {
    font-variant: small-caps;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: #777;
    font-size: 1em;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight: normal;
    margin-bottom: 2px;
}

.stream-legend .pat {
    text-align: right;
}

/*
 * Grid
 */

.grid-overlay-msg {
    position: absolute;
    width: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);
}

.table-cont {
    margin-bottom: 20px;
    background-color: white;
    border-top: 3px solid #222;
    height: 500px;
    overflow: hidden;
}

.table-cont-open {
    height: 500px;
}

.grid-cont {
    padding: 0;
}

.gridStyle {
    width: 100%;
    height: 500px;
}

.ngRowCountPicker {
    display: none;
}

.ngHeaderCell {
    font-family: 'montserrat', 'Arial', sans-serif;
    font-variant: small-caps;
    font-size: 1.1em;
}

.csv-data-link-span {
    margin: 10px;
    float: left;
}

.csv-data-link-span a {
    color: #222;
    text-decoration: none;
}

.shdt {
    padding: 20px;
}

/*
 * Country
 */

.filter-group {
    max-height: 60px;
}

.filter-group .btn,
.modal-content .btn {
    border-radius: 0px;
}

.filter {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.radio-country {
    margin: 10px 0px;
}

.white {
    background-color: white;
}

.svgElement {
    height: 100px;
}

#partners-histogram-container {
    padding-top: 40px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

.partners-tooltip {
    position: absolute;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 5px;
    opacity: 0;
    text-align: center;
    margin-top: -130px;
    pointer-events: none;
}

.partners-tooltip h3 {
    margin: 3px 5px;
    font-size: 14px;
}

.partners-tooltip p {
    margin: 0px 5px;
    font-size: 11px;
}

.circle-tooltip {
    position: absolute;
    height: 20px;
    width: auto;
    background: #333;
    color: #ddd;
    opacity: 0;
    border: 0px;
    border-radius: 5px;
    padding: 2px;
    margin-top: -20px;
    text-align: center;
    font-size: 11px;
    pointer-events: none;
}

#select-lineChart {
    margin-top: 5px;
}

.subtitle > i {
    margin-left: 10px;
}

/* world */

#list-world-container {
    float: left;
    padding: 10px 0;
}

.list {
    background: white;
    border: 1px solid #e7e7e7;
    margin-top: 10px;
}

.list h3 {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.alert-custom {
    background-color: white;
    border-radius: 0;
    margin: 7px 0px 2px 0px;
    padding: 0;
    border-bottom: 1px solid #e7e7e7;
}

/* Spinner */

#loading-bar-spinner {
    top: 50%;
    left: 50%;
}

#loading-bar-spinner .spinner-icon {
    width: 42px;
    height: 42px;
    border: solid 3px transparent;
    border-top-color: #777;
    border-left-color: #777;
    border-radius: 30px;
}

/* Page transition */

.fade-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.fade-view.ng-enter,
.fade-view.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.fade-view.ng-enter,
.fade-view.ng-leave-active {
    opacity: 0;
}

.fade-view.ng-enter-active,
.fade-view.ng-leave {
    opacity: 1;
}

.dot {
    stroke: #000;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.label {
    fill: #777;
}

.year.label {
    font: 500 196px "Helvetica Neue";
    fill: #ddd;
}

.country.label {
    font: 500 96px "Helvetica Neue";
    fill: #ddd;
}

.year.label.active {
    fill: #aaa;
}

path.lineTrajectory {
    stroke-width: 2;
    stroke-opacity: .5;
    stroke: black;
    fill: none;
    pointer-events: none;
}

.selected {
    stroke-width: 4;
}

.close-btn {
    position: relative;
    padding: 1px 5px;
}

#partners-histograms-container {
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#partners-histograms-container > svg {
    padding-top: 30px;
}

/* Linechart World Message */

.selectData {
    height: 400px;
    width: 1000px;
    background-color: #f5f5f5;
    font-size: 16px;
    margin: auto;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.bar {
    padding-left: 2px;
    padding-right: 2px;
    border-left: solid 1px white;
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* Network viz */

#network {
    position: relative;
    height: 700px;

    /*width:100%;*/
    border: solid black 1px;
    margin-top: 30px;
    padding: 0;
}

#network_legend {
    margin-top: 30px;
}

.legend_text {
    font-size: 12px;
    font-family: 'montserrat', Arial, sans-serif;
}

#controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    z-index: 1;
}

#controls > .btn {
    margin: 2px 1px 1px 1px;
}

#positionControls {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}

.continent-tooltip {
    position: absolute;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 5px;
    opacity: 0;
    text-align: center;
    margin-top: -40px;
    pointer-events: none;
}

/*div #reporting-entities-axis{
  height: 50px;

}*/

div #reporting-entities-container {
    height: 800px;
    overflow: scroll;
}

.matrix-tooltip,
.continent-tooltip,
.synth-tooltip {
    position: absolute;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 5px;
    opacity: 0;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12px;
}

/*.matrix-tooltip h5,.continent-tooltip h5,.synth-tooltip h5{
 text-align: center;
}*/

.matrix-tooltip hr,
.continent-tooltip hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.matrix-tooltip table,
.synth-tooltip table,
.mirror_cal {
    margin: 0 auto;
}

.matrix-tooltip td,
.synth-tooltip td {
    padding-top: 3px;
    padding-right: 7px;
    border-top: 1px solid #D1D1D1;
    font-size: 11px;
}

/*.matrix-tooltip .reference,.matrix-tooltip .source*/

.synth-tooltip .table {
    font-size: 11px;
}

.sideLabel {
    font-family: 'montserrat', 'Arial', safouns-serif;
}
