@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-regular-webfont.eot');
    src: url('fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-regular-webfont.woff') format('woff'),
         url('fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-light-webfont.eot');
    src: url('fonts/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-light-webfont.woff') format('woff'),
         url('fonts/merriweather-light-webfont.ttf') format('truetype'),
         url('fonts/merriweather-light-webfont.svg#merriweatherlight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-italic-webfont.eot');
    src: url('fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-italic-webfont.woff') format('woff'),
         url('fonts/merriweather-italic-webfont.ttf') format('truetype'),
         url('fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-bold-webfont.eot');
    src: url('fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-bold-webfont.woff') format('woff'),
         url('fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Global style */

body {
    font-family: 'merriweather', 'Georgia', serif;
    background-color: #f5f5f5;
}

h1,h2,h3,h4{
    font-family: 'montserrat', 'Arial', sans-serif;
    font-weight: bold;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 53px 15px 60px 15px;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Components*/

/* navbar */

#nav .navbar{
  background: white;
  border-width: 3px 0 1px 0;
  border-top-color: #222;
  border-bottom-color: #e7e7e7;
}

#nav .navbar-brand{
  font-family: 'montserrat', 'Arial', sans-serif;
}

#nav .navbar-nav > li{
  border-left: 1px solid #e7e7e7;
}

#nav .navbar-nav > li:last-child{
  border-right: 1px solid #e7e7e7;
}

#nav .navbar-nav > li > a{
  font-variant: small-caps;
  letter-spacing: 2px;
  text-transform: lowercase;
}

#nav .navbar-right > li > a{
  font-family: 'montserrat', 'Arial', sans-serif;
  text-transform: uppercase;
  font-variant: normal;
  font-weight: bold;
  font-size: 0.7em;
}

/* select geo-entities dropdown*/

#select{
  background-color: white;
  border: 1px solid #e7e7e7;
  min-height: 70px
}

#select > div {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

#select > div:first-child{
  border-right: none;
  border-left: none;
}

#select > div:last-child{
  border-right: none;
  border-left: none;
}

.select-dropdown .btn, .select-dropdown .form-control{
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #999;
  min-height: 70px
}

.select-dropdown .btn:hover{
  background-color: transparent;
}

.select-dropdown *:focus, .select-dropdown *:active:focus{
  outline: 0;
}

.select-dropdown .dropdown-menu{
  border-color:#e7e7e7;
  border-radius: 0;
  border-width: 0 1px 1px 1px;
  font-size: 13px; 
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 294px;
  left: -16px;
}

.select-dropdown .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  color: #222;
  background-color: #e8e8e8;
}

.select-dropdown  .dropdown-menu > li > a {
  padding: 10px 20px;
}

/* timeline */

.timeline-cont{
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.timeline-open{
   height: 250px;
}

.timeline-cont h4{
  border-bottom: 3px solid #e5e5e5;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y path{
  fill: none;
  stroke-width:0;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.brush{
  fill:black;
  fill-opacity:0.2;
  stroke:none;
}

/* stream */

.stream-legend h4{
  font-variant: small-caps;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #777;
  font-size: 1em;
  font-family: 'merriweather', 'Georgia', serif;
  font-weight: normal;
}

.stream-legend .pat{
  text-align: right;
}
/* grid */

.table-cont{
  margin-top: 20px;
  background-color: white;
  border-top: 3px solid #222;  
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.table-cont-open{
  height: 500px;
}

.grid-cont{
  padding: 0;
}

.gridStyle {
    width: 100%; 
    height: 500px
}

.ngRowCountPicker{
  display: none;
}

.ngHeaderCell {
font-family: 'montserrat', 'Arial', sans-serif;
font-variant: small-caps;
font-size: 1.1em;
}

.csv-data-link-span {
  margin: 10px;
  float: left;
}

.csv-data-link-span a{
  color: #222;
  text-decoration: none;
}

/* country */

.filter-group {
  margin: 10px 0;
}

.white{
  background-color: white;
}

#list-world-container {
  padding: 10px 0;
}

.alert-custom {
  background-color: white;
}

/* Page transition */
.fade-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade-view.ng-enter,
.fade-view.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade-view.ng-enter {
    opacity: 0;
}
.fade-view.ng-enter-active {
    opacity: 1;
}
.fade-view.ng-leave {
    opacity: 1;
}
.fade-view.ng-leave-active {
    opacity: 0;
}