<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'GLOSSARY_ENTITIES_TITLE' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <dl class="well">
        <dt>{{ 'GLOSSARY_ENTITIES_RICentities' | translate }}</dt>
        <dd>
          {{ 'GLOSSARY_ENTITIES_RICentities_content' | translate }}
        </dd>
      </dl>
      <dl class="well">
        <dt>{{ 'GLOSSARY_ENTITIES_GPH_entities' | translate }}</dt>
        <dd translate="GLOSSARY_ENTITIES_GPH_entities_content"></dd>
      </dl>
      <dl class="well">
        <dt translate="GLOSSARY_ENTITIES_geoloc"></dt>
        <dd translate="GLOSSARY_ENTITIES_geoloc_content"></dd>
      </dl>
    </div>
  </div>
</div>
