<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'GLOSSARY_EXCHANGE_RATES_TITLE' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <dl class="well">
        <dt translate="GLOSSARY_EXCHANGE_RATES_conversion"></dt>
        <dd translate="GLOSSARY_EXCHANGE_RATES_conversion_content"></dd>
      </dl>
      <dl class="well">
        <dt translate="GLOSSARY_EXCHANGE_RATES_sources"></dt>
        <dd translate="GLOSSARY_EXCHANGE_RATES_sources_content"></dd>
      </dl>
    </div>
  </div>
</div>
