<div class="container container-intro">
  <div class="row">
    <div class="col-md-5 col-md-push-7">
      <div class="container-img">
        <img
          class="img-responsive pull-left"
          src="img/home_source_details.png"
          width="320"
          height="320"
          alt="RICardo source example of Importations / expotrations table"
        />
      </div>
    </div>
    <div class="col-md-5 col-md-offset-2 col-md-pull-5">
      <h1 class="home-title">{{ 'HOME_INTRO' | translate }}</h1>
      <p class="lead">{{ 'HOME_INTRO_LEAD' | translate }}</p>
      <p>{{ 'HOME_INTRO_PARA' | translate }}</p>
    </div>
  </div>
</div>
<div class="container-fluid container-links">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="box-bg box-bg-world">
              <div class="box-container">
                <a href="#/world" class="btn btn-link box text-center">
                  <h2>World</h2>
                  <p>{{ 'HOME_WORLD_PARA' | translate }}</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="box-bg box-bg-country">
              <div class="box-container">
                <a href="#/reporting" class="btn btn-link box text-center">
                  <h2>Reporting</h2>
                  <p>{{ 'HOME_REPOERTING_PARA' | translate }}</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="box-bg box-bg-bilateral">
              <div class="box-container">
                <a href="#/bilateral" class="btn btn-link box text-center">
                  <h2>Bilateral</h2>
                  <p>{{ 'HOME_BILATERAL_PARA' | translate }}</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="box-bg box-bg-metadata">
              <div class="box-container">
                <a href="#/metadata" class="btn btn-link box text-center">
                  <h2>Metadata</h2>
                  <p>{{ 'HOME_METADATA_PARA' | translate }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container container-science">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h3 class="title-border">{{ 'HOME_HOWTOCITE_TITLE' | translate }}</h3>
      <p>{{ 'HOME_HOWTOCITE_LEAD' | translate }}</p>
      <h4><strong>{{ 'HOME_HOWTOCITE_SUBTITLE1' | translate }}</strong></h4>
      <p>{{ 'HOME_HOWTOCITE_PARA1' | translate }}</p>
      <p>
        {{ 'HOME_HOWTOCITE_PARA11' | translate }}
        <a href="http://www.tandfonline.com/doi/citedby/10.1080/01615440.2016.1220269" target="_blank"
          >the paper at Historical Methods</a
        >
        {{ 'HOME_HOWTOCITE_PARA111' | translate }}
        <a href="/Dedinger_Girard_RICardo_HistoricalMethods_revised.pdf" target="_blank"
          >our preprint version: 01-May-2016</a
        >
      </p>
      <h4><strong>{{ 'HOME_HOWTOCITE_SUBTITLE2' | translate }}</strong></h4>
      <p>
        {{ 'HOME_HOWTOCITE_PARA2' | translate }}<br />
        <a href="http://dh2016.adho.org/abstracts/177" target="_blank">http://dh2016.adho.org/abstracts/177</a>
      </p>
      <p>
        {{ 'HOME_HOWTOCITE_PARA22' | translate }}
        <a href="http://medialab.github.io/ricardo" target="_blank">our presentation slides</a> {{
        'HOME_HOWTOCITE_PARA222' | translate }}
        <a href="/Girardetal_RICardo_dh2016_fr.pdf" target="_blank">l'abstract en français</a>
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="title-border">{{ 'HOME_SCIENCE_TITLE' | translate }}</h3>
      <p>{{ 'HOME_SCIENCE_LEAD' | translate }}</p>
      <h4><strong>{{ 'HOME_SCIENCE_SUBTITLE1' | translate }}</strong></h4>
      <p>{{ 'HOME_SCIENCE_PARA1' | translate }}</p>
      <a href="https://github.com/medialab/ricardo">https://github.com/medialab/ricardo</a>
      <h4><strong>{{ 'HOME_SCIENCE_SUBTITLE2' | translate }}</strong></h4>
      <p>
        {{ 'HOME_SCIENCE_PARA2' | translate }}
        <a href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>
        <a href="https://github.com/medialab/ricardo_data">https://github.com/medialab/ricardo_data</a>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid container-rss">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="title-border">{{ 'HOME_BLOG_TITLE' | translate }}</h3>
        </div>
      </div>
      <div class="container">
        <div class="article-list row">
          <article ng-repeat="article in articles" class="item">
            <a href="{{article.url}}">
              <span class="article-title">{{article.title}}</span>
              <span class="article-container-time">
                <time>
                  <span>{{article.day}}</span>
                  <span>{{article.month}}</span>
                  <span>{{article.year}}</span>
                </time>
              </span>
              <p ng-bind-html="article.description"></p>
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
