<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'LEGALS_TITLE' | translate }}</h1>
      <h2 class="title-border">{{ 'LEGALS_SUBTITLE' | translate }}</h2>
      <address>
        <p>
          <strong>{{ 'LEGALS_ADDRESS_title' | translate }}</strong>
          <br />
          {{ 'LEGALS_ADDRESS1' | translate }}
          <br />
          {{ 'LEGALS_ADDRESS2' | translate }}
          <br />
          {{ 'LEGALS_ADDRESS3' | translate }}
          <br />
          {{ 'LEGALS_ADDRESS4' | translate }}
          <br />
          {{ 'LEGALS_ADDRESS5' | translate }}
          <br />
          {{ 'LEGALS_ADDRESS6' | translate }}
        </p>
      </address>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'LEGALS_TITLE2' | translate }}</h2>
      <p><strong>{{ 'LEGALS_PUBLISHER1' | translate }}</strong>, {{ 'LEGALS_PUBLISHER2' | translate }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'LEGALS_TITLE3' | translate }}</h2>
      <p>{{ 'LEGALS_HOSTING_PARA' | translate }}</p>
      <address>
        <p>
          <strong>{{ 'LEGALS_APE_ADDRESS1' | translate }}</strong>{{ 'LEGALS_APE_ADDRESS2' | translate }}
          <br />
          {{ 'LEGALS_APE_ADDRESS3' | translate }}
          <br />
          {{ 'LEGALS_APE_ADDRESS4' | translate }}
        </p>
      </address>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'LEGALS_TITLE4' | translate }}</h2>
      <p>{{ 'LEGALS_PROPERTY_PARA1' | translate }}</p>
      <p>{{ 'LEGALS_PROPERTY_PARA2' | translate }}</p>
      <p>{{ 'LEGALS_PROPERTY_PARA3' | translate }}</p>
    </div>
  </div>
</div>
<div class="container container-page-last">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title-border">{{ 'LEGALS_TITLE5' | translate }}</h2>
      <p>{{ 'LEGALS_HYPER_PARA1' | translate }}</p>
      <p>{{ 'LEGALS_HYPER_PARA2' | translate }}</p>
    </div>
  </div>
</div>
