<div class="container container-page">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title-border">{{ 'PARTNER_INTRO_TITLE' | translate }}</h1>
      <p>{{ 'PARTNER_INTRO_PARA' | translate }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row timeline-cont">
    <div class="col-sm-12 well">
      <h4 class="titleDualTL">
        {{ 'PARTNER_TITLE_1' | translate }}
        <div class="inline-select">
          <ui-select ng-model="partner" theme="bootstrap" ng-change="selectPartner(partner)">
            <ui-select-match class="ui-select-match" placeholder="{{ 'SELECT_PARTNER' | translate }}">
              {{$select.selected.label}}
            </ui-select-match>
            <ui-select-choices
              class="ui-select-choices"
              repeat="item.id as item in partnersList | filter: $select.search"
            >
              <div ng-bind-html="item.label | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        {{ 'FROM' | translate }}
        <div class="inline-select">
          <ui-select
            ng-model="selectedMinDate"
            theme="bootstrap"
            ng-change="selectMinDate(selectedMinDate)"
            ng-disabled="minDateRange.length < 2"
          >
            <ui-select-match class="ui-select-match" placeholder="{{ 'SELECT_MIN_YEAR' | translate }}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices class="ui-select-choices" repeat="item in minDateRange | filter: $select.search">
              <div ng-bind-html="item | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        {{ 'TO' | translate}}
        <div class="inline-select">
          <ui-select
            ng-model="selectedMaxDate"
            theme="bootstrap"
            ng-change="selectMaxDate(selectedMaxDate)"
            ng-disabled="maxDateRange.length < 2"
          >
            <ui-select-match class="ui-select-match" placeholder="{{ 'SELECT_MAX_YEAR' | translate }}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices class="ui-select-choices" repeat="item in maxDateRange | filter: $select.search">
              <div ng-bind-html="item | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4>{{'PARTNER_STATUSES_TITLE' | translate}}</h4>
      <p class="paragraphViz">{{'PARTNER_STATUSES_INTRO' | translate}}</p>
      <div>
        <political-statuses
          gph-data="gphData"
          partner="partner"
          boundaries="{minYear: selectedMinDate, maxYear: selectedMaxDate}"
        />
        <div class="legend">
          <div class="legend-item">
            <div class="square" ng-style="{ backgroundColor: '#cc6666' }"></div>
            {{'DEPENDENCIES_CAPTION' | translate}}
          </div>
          <div class="legend-item">
            <div class="square" ng-style="{ backgroundColor: 'rgba(0,0,0,0.1)' }"></div>
            {{'SOVEREIGNTY_CAPTION' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start: Retporter citation-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4>{{'PARTNER_REPORTER_CITATION_TITLE' | translate}} {{partnersDict[partner]}}</h4>
      <div>
        <bar-chart
          ng-data="citationData"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
          raw-start-date="minDateRange"
          raw-end-date="maxDateRange"
        ></bar-chart>
      </div>
    </div>
  </div>
</div>
<!-- End: Retporter citation-->

<!-- Start: World Comparison -->
<div class="container comparison">
  <div class="row">
    <div class="col-sm-12 well">
      <!-- Title with form -->
      <h4 class="titleMultiLine">
        <div>
          {{ 'LINE_CHART_1' | translate }} {{partnersDict[partner]}} {{ 'LINE_CHART_2' | translate }}
          <div class="inline-select">
            <ui-select
              ng-model="comparisonReporterEntity.selected"
              theme="bootstrap"
              ng-change="comparisonPush(comparisonReporterEntity.selected)"
            >
              <ui-select-match
                class="ui-select-match"
                placeholder="Reporter"
                ng-style="{color:elm.color}"
              ></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in comparisonReporterList | filter: $select.search"
              >
                <div ng-bind-html="item.label | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          {{selectedMinDate}} – {{selectedMaxDate}}, in {{comparisonCurrency.name.value}} for
          <div class="inline-select">
            <ui-select ng-model="$parent.comparisonFlowType" theme="bootstrap">
              <ui-select-match class="ui-select-match" placeholder="Select type flow"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in comparisonFlowTypeList | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="subtitle">{{'LINE_CHART_SELECT' | translate }}</div>
        <div>
          <span
            class="entity"
            ng-repeat="elm in comparison"
            ng-click="comparisonRemove(elm)"
            ng-style="{color:elm.color}"
            >{{elm.label}}
            <span class="close-btn">
              <i class="fa fa-times-circle"></i>
            </span>
            <span ng-if="!$last">, </span>
          </span>
        </div>
      </h4>
      <div ng-show="messagePercent">
        <p class="paragraphViz">
          The percentages are based on
          <a href="/#worldTrade">world sum partners</a> of {{partnersDict[partner]}}
        </p>
      </div>
      <div id="select-lineChart">
        <div class="row">
          <div class="col-sm-12">
            <linechart-world
              ng-data="comparisonData"
              currency="comparisonCurrency"
              start-date="selectedMinDate"
              end-date="selectedMaxDate"
              view="'country'"
            >
            </linechart-world>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: World Comparison -->

<!-- Start: Data table -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-model="tableDisplay" btn-checkbox>
          {{ 'DOWNLOAD_1' | translate }}
        </button>
        <button type="button" ng-click="tableDownloadCSV()" class="btn btn-default">
          {{ 'DOWNLOAD_2' | translate }}
        </button>
        <button type="button" ng-click="tableDownloadCSVOrginalCurrency()" class="btn btn-default">
          {{ 'DOWNLOAD_3' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div ng-if="tableDisplay" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="grid gridStyle" ui-grid="gridOptions" ui-grid-pagination></div>
    </div>
  </div>
</div>
<!-- End: Data table -->
