<div class="container">
  <div ng-show="missing" class="alert">
    <div class="modal-body">
      <p>
        There is <strong>no data available</strong> in the database for
        <strong>{{entities.sourceEntity.selected.RICname}}</strong>
      </p>
      <p>
        between <strong>{{selectedMinDate}}</strong> and
        <strong>{{selectedMaxDate}}</strong>
      </p>
      <p>
        Choose another one or change date selection, thank you !
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ok()">OK</button>
    </div>
  </div>
  <div ng-show="missingBilateral" class="alert">
    <div class="modal-body">
      <p>
        There is <strong>no bilateral flow available</strong> in the database for
        <strong>{{entities.sourceEntity.selected.RICname}}</strong>
      </p>
      <p>Choose <strong>World trade</strong> in the bottom chart to check the estimation flow, thank you!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="okBilateral()">OK</button>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title-border">{{ 'REPORTING_INTRO_TITLE' | translate }}</h1>
      <p>{{ 'REPORTING_INTRO_PARA' | translate }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row timeline-cont">
    <div class="col-sm-12 well">
      <h4 class="titleDualTL">
        {{ 'REPORTING_TITLE_1' | translate }}
        <inline-select-country
          ng-model="entities.sourceEntity.selected"
          list="reportingEntities"
        ></inline-select-country>
        {{ 'FROM' | translate }}
        <inline-select-year ng-model="selectedMinDate" list="rawYearsRange_forInf"></inline-select-year>
        {{ 'TO' | translate}}
        <inline-select-year ng-model="selectedMaxDate" list="rawYearsRange_forSup"></inline-select-year>
      </h4>
      <p class="paragraphViz">
        {{ 'REPORTING_VIEW_DUAL_LEGEND' | translate }}
      </p>
      <dual-timeline ng-data="timelineData" start-date="selectedMinDate" end-date="selectedMaxDate"></dual-timeline>
      <brushing-timeline
        ng-data="timelineData"
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        raw-start-date="rawMinDate"
        raw-end-date="rawMaxDate"
        source-country="entities.sourceEntity.selected.RICname"
        target-country="entities.targetEntity.selected.RICname"
      ></brushing-timeline>
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div>
          Import
        </div>
        <div class="legend-item">
          <div class="square export"></div>
          Export
        </div>
        <div class="legend-item">
          <div class="line available"></div>
          {{ 'AVAILABLE' | translate }}
        </div>
        <div class="legend-item">
          <div class="line unavailable"></div>
          {{ 'UNAVAILABLE' | translate }}
        </div>
        <div class="legend-item">{{ 'CURRENCY' | translate }} <strong>pound sterling</strong></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4>{{'STATUSES_TITLE' | translate}} {{entities.sourceEntity.selected.RICname}}</h4>
      <p class="paragraphViz">{{'STATUSES_INTRO' | translate}}</p>
      <div>
        <political-statuses
          sovereignty-data="sovereigntyData"
          dependencies-data="dependenciesData"
          boundaries="boundaries"
        />
        <div class="legend">
          <div class="legend-item">
            <div class="square" ng-style="{ backgroundColor: '#cc6666' }"></div>
            {{'DEPENDENCIES_CAPTION' | translate}}
          </div>
          <div class="legend-item">
            <div class="square" ng-style="{ backgroundColor: 'rgba(0,0,0,0.1)' }"></div>
            {{'SOVEREIGNTY_CAPTION' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4 class="titleMultiLine">
        <div>
          {{ 'PARTNER_HISTO_1' | translate }} {{entities.sourceEntity.selected.RICname}} {{ 'PARTNER_HISTO_2' |
          translate }} {{ 'PARTNER_HISTO_ORDER_BY' | translate }}
          <div class="inline-select">
            <ui-select ng-model="$parent.ordered" theme="bootstrap" ng-change="changeOrder(ordered)">
              <ui-select-match class="ui-select-match" placeholder="Order by..."
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices class="ui-select-choices" repeat="item in orders | filter: $select.search">
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          {{ 'PARTNER_HISTO_FILTER_ON' | translate }}
          <div class="inline-select">
            <ui-select ng-model="$parent.filtered" theme="bootstrap" ng-change="changeFilter(filtered)">
              <ui-select-match class="ui-select-match" placeholder="Filter on..."
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices class="ui-select-choices" repeat="item in filters | filter: $select.search">
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          {{ 'PARTNER_HISTO_GROUP_BY' | translate }}
          <div class="inline-select">
            <ui-select ng-model="$parent.grouped" theme="bootstrap" ng-change="changeGroup(grouped)">
              <ui-select-match class="ui-select-match" placeholder="Group by..."
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices class="ui-select-choices" repeat="item in groups | filter: $select.search">
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </h4>
      <p class="paragraphViz">
        {{ 'REPORTING_PARTNER_HISTO' | translate }}
      </p>
      <ul>
        <li class="paragraphViz">
          {{ 'REPORTING_PARTNER_HISTO_1' | translate }}
        </li>
        <li class="paragraphViz">
          {{ 'REPORTING_PARTNER_HISTO_2' | translate }}
        </li>
      </ul>
      <div class="legend-item">
        A = reporting / B = partner
      </div>
      <div class="legend-item">
        Exp A -> B = exports {{ 'FROM' | translate }} A {{ 'TO' | translate }} B
      </div>
      <div class="legend-item">
        ExpA = total exports A
      </div>
      <br />
      <div class="legend-item">
        {{ 'PARTNER_HISTO_LEG_1' | translate }} = Exp A->B / ExpA * 100
      </div>
      <div class="legend-item">
        {{ 'PARTNER_HISTO_LEG_2' | translate }} = (Exp A->B – Imp A->B) / (Exp A->B + Imp A->B)
      </div>
      <div class="partnersHistoLegend">
        <div class="legend-item">
          <svg height="35" width="300">
            <circle cx="25" cy="18" r="12" stroke="black" stroke-width="1" fill="transparent" />
            <circle cx="25" cy="18" r="3" stroke="black" stroke-width="1" fill="black" />
            <text x="45" y="20" fill="black">
              {{ 'PARTNER_HISTO_LEG_1' | translate }}
            </text>
          </svg>
        </div>
        <div class="legend-item">
          <svg height="35" width="300">
            <rect x="15" y="0" width="10" height="15" style="fill: #663333;" />
            <rect x="25" y="15" width="10" height="15" style="fill: #cc6666;" />
            <text x="40" y="20" fill="black">
              {{ 'PARTNER_HISTO_LEG_2' | translate }}
            </text>
          </svg>
        </div>
        <div class="legend-item">
          <svg height="35" width="300">
            <rect x="15" y="0" width="10" height="15" style="fill: #663333; opacity: 0.3;" />
            <rect x="25" y="15" width="10" height="15" style="fill: #cc6666; opacity: 0.3;" />
            <text x="40" y="20" fill="black">
              Only export or import available
            </text>
          </svg>
        </div>
      </div>
      <div id="select-doubleChart">
        <div class="row">
          <div class="col-sm-12">
            <div ng-show="missingPartner" class="alert">
              <div class="modal-body">
                <p>There is <strong>no data available</strong> in the database for this filter</p>
                <p>
                  between {{selectedMinDate}} and {{selectedMaxDate}}
                </p>
                <p>
                  Choose another one or change date selection, thank you !
                </p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" ng-click="okPartner()">
                  OK
                </button>
              </div>
            </div>
            <partners-histogram
              ng-data="partnersData"
              start-date="selectedMinDate"
              end-date="selectedMaxDate"
              index-years="indexYears"
              country-data="entities.sourceEntity.selected"
              order-data="ordered.type.value"
            ></partners-histogram>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container comparison">
  <div class="row">
    <div class="col-sm-12 well">
      <h4 class="titleMultiLine">
        <div>
          {{ 'LINE_CHART_1' | translate }} {{entities.sourceEntity.selected.RICname}} {{ 'LINE_CHART_2' | translate }}
          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceCountryEntity.selected"
              theme="bootstrap"
              ng-change="change(entities.sourceCountryEntity.selected)"
            >
              <ui-select-match
                class="ui-select-match"
                placeholder="Entities"
                ng-style="{color:elm.color}"
              ></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingCountryEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceContinentEntity.selected"
              theme="bootstrap"
              ng-show="reportingContinentEntities.length"
              ng-change="changeContinent(entities.sourceContinentEntity.selected)"
            >
              <ui-select-match class="ui-select-match" placeholder="Continents"></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingContinentEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceWorldEntity.selected"
              theme="bootstrap"
              ng-show="reportingWorldEntities.length"
              ng-change="changeWorld(entities.sourceWorldEntity.selected)"
            >
              <ui-select-match class="ui-select-match" placeholder="World"></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingWorldEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          {{selectedMinDate}} – {{selectedMaxDate}}, in
          <div class="inline-select">
            <ui-select
              ng-model="$parent.linechartCurrency"
              theme="bootstrap"
              ng-change="changeCurrency(linechartCurrency)"
            >
              <ui-select-match class="ui-select-match" placeholder="Select sterling or percent"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in linechartCurrencyChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          for
          <div class="inline-select">
            <ui-select ng-model="$parent.linechartFlow" theme="bootstrap" ng-change="changeFlow(linechartFlow)">
              <ui-select-match class="ui-select-match" placeholder="Select type flow"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in linechartFlowChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="subtitle">{{'LINE_CHART_SELECT' | translate }}</div>
        <div>
          <span
            class="entity"
            ng-repeat="elm in comparison"
            ng-click="removeComparison(elm)"
            ng-style="{color:elm.color}"
            >{{elm.RICname}}
            <span class="close-btn">
              <i class="fa fa-times-circle"></i>
            </span>
            <span ng-if="!$last">, </span>
          </span>
        </div>
      </h4>
      <div ng-show="messagePercent">
        <p class="paragraphViz">
          The percentages are based on
          <a href="/#worldTrade">world sum partners</a> of {{entities.sourceEntity.selected.RICname}}
        </p>
      </div>
      <div id="select-lineChart">
        <div class="row">
          <div class="col-sm-12">
            <linechart-world
              ng-data="linechartData"
              currency="linechartCurrency"
              start-date="selectedMinDate"
              end-date="selectedMaxDate"
              view="view"
            >
            </linechart-world>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default"
          ng-model="viewTable"
          btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
        >
          {{ 'DOWNLOAD_1' | translate }}
        </button>
        <button type="button" ng-click="download()" class="btn btn-default">
          {{ 'DOWNLOAD_2' | translate }}
        </button>
        <button type="button" ng-click="downloadCurrency()" class="btn btn-default">
          {{ 'DOWNLOAD_3' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="grid gridStyle" ui-grid="gridOptions" ui-grid-pagination></div>
    </div>
  </div>
</div>
