<div class="container">
  <div ng-show="missing" class="alert">
    <div class="modal-body">
      <p>
        There is <strong>no data available</strong> in the database for
        <strong>{{entities.sourceEntity.selected.RICname}}</strong>
      </p>
      <p>
        between <strong>{{selectedMinDate}}</strong> and
        <strong>{{selectedMaxDate}}</strong>
      </p>
      <p>
        Choose another one or change date selection, thank you !
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="ok()">OK</button>
    </div>
  </div>
  <div ng-show="missingBilateral" class="alert">
    <div class="modal-body">
      <p>
        There is <strong>no bilateral flow available</strong> in the database for
        <strong>{{entities.sourceEntity.selected.RICname}}</strong>
      </p>
      <p>Choose <strong>World trade</strong> in the bottom chart to check the estimation flow, thank you!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="okBilateral()">OK</button>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title-border">
        {{ 'REPORTING_INTRO_TITLE' | translate }}
        <inline-select-country
          ng-model="entities.sourceEntity.selected"
          list="reportingEntities"
        ></inline-select-country>
        {{ 'FROM' | translate }}
        <inline-select-year ng-model="selectedMinDate" list="rawYearsRange_forInf"></inline-select-year>
        {{ 'TO' | translate}}
        <inline-select-year ng-model="selectedMaxDate" list="rawYearsRange_forSup"></inline-select-year>
      </h1>
      <p>{{ 'REPORTING_INTRO_PARA' | translate }}</p>
    </div>
  </div>
</div>
<!-- GeoPolHist block -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4>
        {{'POLITICAL_STATUSES_TITLE' | translate}}<span class="hightlight-inline-variable"
          >&nbsp;{{entities.sourceEntity.selected.RICname}}&nbsp;</span
        >{{ 'POLITICAL_STATUSES_FROM' | translate }}&nbsp;<a
          href="https://medialab.github.io/GeoPolHist/{{entities.sourceEntity.selected.GPH_code ? '#/country/' + entities.sourceEntity.selected.GPH_code :''}}"
          >GeoPolHist</a
        >
      </h4>
      <p ng-if="entities.sourceEntity.selected.GPH_code" class="paragraphViz">
        {{'POLITICAL_STATUSES_INTRO' | translate}}
      </p>
      <p ng-if="!entities.sourceEntity.selected.GPH_code" class="paragraphViz">
        {{'POLITICAL_STATUSES_MISSING' | translate}}
      </p>
      <div ng-if="entities.sourceEntity.selected.GPH_code">
        <political-statuses
          data="entityStatusesData"
          boundaries="{minYear: selectedMinDate, maxYear: selectedMaxDate}"
        />
        <svg width="100%" height="20px">
          <g class="legend">
            <rect x="0" y="0" width="12" height="12" style="fill: url('#diagonalHatch');"></rect>
            <text
              x="17"
              y="10"
              class="legend-item"
              fill="#333"
              translate="POLITICAL_STATUSES_SOVEREIGNTY_CAPTION"
            ></text>
            <rect x="180" y="0" width="12" height="12" style="fill: rgba(180, 0, 0, 0.2);"></rect>
            <rect x="198" y="0" width="12" height="12" style="fill: rgba(180, 0, 0, 0.5);"></rect>
            <rect x="216" y="0" width="12" height="12" style="fill: rgba(180, 0, 0, 0.8);"></rect>
            <text
              x="239"
              y="10"
              class="legend-item"
              fill="#333"
              translate="POLITICAL_STATUSES_DEPENDENCIES_CAPTION"
            ></text>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- END GeoPolHist block -->
<!-- TOTAL TRADE CURVES block -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4 class="titleDualTL">
        {{ 'REPORTING_TITLE_1' | translate }}
        <span class="hightlight-inline-variable">&nbsp;{{entities.sourceEntity.selected.RICname}}&nbsp;</span>
      </h4>
      <p class="paragraphViz">
        {{ 'REPORTING_VIEW_DUAL_LEGEND' | translate }}
      </p>
      <dual-timeline ng-data="timelineData" start-date="selectedMinDate" end-date="selectedMaxDate"></dual-timeline>
      <brushing-timeline
        ng-data="timelineData"
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        raw-start-date="rawMinDate"
        raw-end-date="rawMaxDate"
        source-country="entities.sourceEntity.selected.RICname"
      ></brushing-timeline>
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div>
          Import
        </div>
        <div class="legend-item">
          <div class="square export"></div>
          Export
        </div>
        <div class="legend-item">
          <div class="line available"></div>
          {{ 'AVAILABLE' | translate }}
        </div>
        <div class="legend-item">
          <div class="line unavailable"></div>
          {{ 'UNAVAILABLE' | translate }}
        </div>
        <div class="legend-item">{{ 'CURRENCY' | translate }} <strong>pound sterling</strong></div>
      </div>
    </div>
  </div>
</div>
<!-- Start: Partner citation -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4>
        {{'REPORTING_PARTNER_CITATION_TITLE' | translate}}
        <span class="hightlight-inline-variable">&nbsp;{{entities.sourceEntity.selected.RICname}}&nbsp;</span>
      </h4>
      <div>
        <bar-chart
          ng-data="citationData"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
          raw-start-date="rawMinDate"
          raw-end-date="rawMaxDate"
        ></bar-chart>
      </div>
    </div>
  </div>
</div>
<!-- End: Partner citation -->
<!-- Start: partner Heatmap -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4 class="titleMultiLine">
        <div>
          {{'PARTNER_HEATMAP_TITLE_1' | translate}}
          <span class="hightlight-inline-variable">&nbsp;{{entities.sourceEntity.selected.RICname}}&nbsp;</span>,
          {{'PARTNER_HEATMAP_TITLE_ORDER_BY' | translate}}
          <div class="inline-select">
            <ui-select ng-model="$parent.heatmapOrder" theme="bootstrap">
              <ui-select-match
                class="ui-select-match"
                placeholder="{{ 'PARTNER_HEATMAP_ORDER_PLACEHOLDER' | translate }}"
              >
                {{$select.selected.label | translate}}
              </ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item in heatmapOrderList | filter: $select.search">
                <div ng-bind-html="item.label | translate | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          {{'PARTNER_HEATMAP_TITLE_2' | translate}}
          <div class="inline-select">
            <ui-select ng-model="$parent.heatmapField" theme="bootstrap">
              <ui-select-match
                class="ui-select-match"
                placeholder="{{ 'PARTNER_HEATMAP_FIELD_PLACEHOLDER' | translate }}"
              >
                {{$select.selected.label}}
              </ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item in heatmapFieldList | filter: $select.search">
                <div ng-bind-html="item.label | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </h4>
      <div class="partnersHistoLegend">
        <div class="legend-item">
          <svg height="15" width="500">
            <rect x="0" y="0" width="10" height="10" style="fill: #f90202; opacity: 0.2;" />
            <rect x="12" y="0" width="10" height="10" style="fill: #f90202; opacity: 0.5;" />
            <rect x="24" y="0" width="10" height="10" style="fill: #f90202; opacity: 0.8;" />
            <text x="40" y="9" fill="black">
              {{ 'PARTNER_HEATMAP_COLOR' | translate }}
            </text>
          </svg>
        </div>
      </div>
      <div>
        <div>
          <heatmap class="dataviz" data="{}" start-date="rawMinDate" end-date="rawMaxDate" legend="'top'"></heatmap>
        </div>
        <div class="heatmaps" ng-class="{'show':heatmapShowAll}">
          <div class="heatmap" ng-repeat="partner in heatmapData">
            {{partner.label}}
            <heatmap
              class="dataviz"
              data="partner.data"
              start-date="rawMinDate"
              end-date="rawMaxDate"
              legend="heatmapLegend"
              color="'#f90202'"
              opacity="true"
              tooltip-function="partner.tooltip"
              opacity-range="opacityRange"
            ></heatmap>
          </div>
        </div>
        <div class="show-more">
          <a ng-click="heatmapShowAllToggle()">
            <span ng-if="!heatmapShowAll">{{'SHOW' | translate}}</span>
            <span ng-if="heatmapShowAll">{{'HIDE' | translate}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Reporter Heatmap-->

<!-- Start: World Comparison -->
<div class="container comparison">
  <div class="row">
    <div class="col-sm-12 well">
      <h4 class="titleMultiLine">
        <div>
          {{ 'LINE_CHART_1' | translate }}
          <span class="hightlight-inline-variable">&nbsp;{{entities.sourceEntity.selected.RICname}}&nbsp;</span> {{
          'LINE_CHART_2' | translate }}
          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceCountryEntity.selected"
              theme="bootstrap"
              ng-change="change(entities.sourceCountryEntity.selected)"
            >
              <ui-select-match
                class="ui-select-match"
                placeholder="Partner"
                ng-style="{color:elm.color}"
              ></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingCountryEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceContinentEntity.selected"
              theme="bootstrap"
              ng-show="reportingContinentEntities.length"
              ng-change="changeContinent(entities.sourceContinentEntity.selected)"
            >
              <ui-select-match class="ui-select-match" placeholder="Continents"></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingContinentEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceWorldEntity.selected"
              theme="bootstrap"
              ng-show="reportingWorldEntities.length"
              ng-change="changeWorld(entities.sourceWorldEntity.selected)"
            >
              <ui-select-match class="ui-select-match" placeholder="World"></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingWorldEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          <span class="hightlight-inline-variable">&nbsp;{{selectedMinDate}}&nbsp;</span> –
          <span class="hightlight-inline-variable">&nbsp;{{selectedMaxDate}}&nbsp;</span>, in
          <div class="inline-select">
            <ui-select
              ng-model="$parent.linechartCurrency"
              theme="bootstrap"
              ng-change="changeCurrency(linechartCurrency)"
            >
              <ui-select-match class="ui-select-match" placeholder="Select sterling or percent"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in linechartCurrencyChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          for
          <div class="inline-select">
            <ui-select ng-model="$parent.linechartFlow" theme="bootstrap" ng-change="changeFlow(linechartFlow)">
              <ui-select-match class="ui-select-match" placeholder="Select type flow"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in linechartFlowChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="subtitle">{{'LINE_CHART_SELECT' | translate }}</div>
        <div>
          <span
            class="entity"
            ng-repeat="elm in comparison"
            ng-click="removeComparison(elm)"
            ng-style="{color:elm.color}"
            >{{elm.RICname}}
            <span class="close-btn">
              <i class="fa fa-times-circle"></i>
            </span>
            <span ng-if="!$last">, </span>
          </span>
        </div>
      </h4>
      <div ng-show="messagePercent">
        <p class="paragraphViz">
          The percentages are based on
          <a href="/#worldTrade">world sum partners</a> of {{entities.sourceEntity.selected.RICname}}
        </p>
      </div>
      <div id="select-lineChart">
        <div class="row">
          <div class="col-sm-12">
            <linechart-world
              ng-data="linechartData"
              currency="linechartCurrency"
              start-date="selectedMinDate"
              end-date="selectedMaxDate"
              view="view"
            >
            </linechart-world>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: World Comparison -->

<!-- Start: Data table -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default"
          ng-model="viewTable"
          btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
        >
          {{ 'DOWNLOAD_1' | translate }}
        </button>
        <button type="button" ng-click="download()" class="btn btn-default">
          {{ 'DOWNLOAD_2' | translate }}
        </button>
        <button type="button" ng-click="downloadCurrency()" class="btn btn-default">
          {{ 'DOWNLOAD_3' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="grid gridStyle" ui-grid="gridOptions" ui-grid-pagination></div>
    </div>
  </div>
</div>
<!-- End: Data table -->
