<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'GLOSSARY_SOURCES_TITLE' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <dl class="well" id="primary">
        <dt translate="GLOSSARY_SOURCES_primary_secondary"></dt>
        <dd translate="GLOSSARY_SOURCES_primary_secondary_content"></dd>
      </dl>
      <dl class="well">
        <dt translate="GLOSSARY_SOURCES_availability"></dt>
        <dd translate="GLOSSARY_SOURCES_availability_content"></dd>
      </dl>
      <dl class="well">
        <dt translate="GLOSSARY_SOURCES_historical"></dt>
        <dd translate="GLOSSARY_SOURCES_historical_content"></dd>
      </dl>
    </div>
  </div>
</div>
