<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="title-border">{{ 'GLOSSARY_TRADE_TITLE' | translate }}</h1>
    </div>
  </div>
</div>
<div class="container container-page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <dl class="well">
        <dt translate="GLOSSARY_TRADE_valuation"></dt>
        <dd translate="GLOSSARY_TRADE_valuation_content"></dd>
      </dl>
      <dl class="well">
        <dt translate="GLOSSARY_TRADE_world"></dt>
        <dd translate="GLOSSARY_TRADE_world_content"></dd>
      </dl>
      <dl class="well" id="mirror_flows">
        <dt translate="GLOSSARY_TRADE_mirror_flows"></dt>
        <dd translate="GLOSSARY_TRADE_mirror_flows_content"></dd>
      </dl>
    </div>
  </div>
</div>
