<div class="container container-page">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title-border flex-title">
        {{ 'WORLD_INTRO' | translate }} {{ 'FROM' | translate }}
        <inline-select-year ng-model="selectedMinDate" list="rawYearsRange_forInf"></inline-select-year>
        {{ 'TO' | translate }}
        <inline-select-year ng-model="selectedMaxDate" list="rawYearsRange_forSup"></inline-select-year>
      </h1>
      <p class="pageIntroduction">{{ 'WORLD_INTRO_PARA' | translate }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 well">
      <h4 class="flex-title">
        {{ 'WORLD_COMPARE_TITLE' | translate }} in
        <div class="inline-select">
          <ui-select
            ng-model="$parent.multichartLayout"
            theme="bootstrap"
            ng-change="changeMultiLayout(multichartLayout)"
          >
            <ui-select-match class="ui-select-match" placeholder="Select grouped or multiple layout"
              >{{$select.selected.name.value}}</ui-select-match
            >
            <ui-select-choices
              class="ui-select-choices"
              repeat="item in multichartLayoutChoices | filter: $select.search"
            >
              <div ng-bind-html="item.name.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        for
        <div class="inline-select">
          <ui-select ng-model="$parent.multichartFlow" theme="bootstrap" ng-change="changeMultiFlow(multichartFlow)">
            <ui-select-match class="ui-select-match" placeholder="Select flow type"
              >{{$select.selected.name.value}}</ui-select-match
            >
            <ui-select-choices class="ui-select-choices" repeat="item in multiFlowChoices | filter: $select.search">
              <div ng-bind-html="item.name.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </h4>
      <reporting-world
        class="dataviz"
        ng-data="flowWorld"
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        flow-type="multichartFlow"
        layout="multichartLayout"
      >
      </reporting-world>
      <div class="legend">
        <div class="legend-item">
          <div class="square worldbestguess"></div>
          World Best Guess
        </div>
        <div class="legend-item">
          <div class="square worldreport"></div>
          World as Reported
        </div>
        <div class="legend-item">
          <div class="square worldsum"></div>
          World Sum Partners
        </div>
        <div class="legend-item">
          <div class="square worldfederico"></div>
          World Federico Tena
        </div>
        <div class="legend-item">{{ 'CURRENCY' | translate }} <strong>pound sterling</strong></div>
      </div>
    </div>
    <div class="col-sm-12 well">
      <div class="timeline-cont">
        <h4 class="flex-title">
          {{ 'WORLD_VIEW_TITLE' | translate }} with
          <div class="inline-select">
            <ui-select ng-model="$parent.worldPartner" theme="bootstrap" ng-change="changeWorldPartner(worldPartner)">
              <ui-select-match class="ui-select-match" placeholder="Select world partner"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in worldPartnerChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </h4>
        <p class="paragraphViz">
          {{ 'WORLD_VIEW_1' | translate }}
          <!-- <a href="/#/#worldTrade">World trade / Total trade</a> -->
          <a href="#/glossary#worldTrade">{{worldPartner.name.value}}</a>
        </p>
        <dual-timeline
          class="dataviz"
          ng-data="timelineData"
          start-date="selectedMinDate"
          end-date="selectedMaxDate"
        ></dual-timeline>
        <div class="legend">
          <div class="legend-item">
            <div class="square import"></div>
            Import
          </div>
          <div class="legend-item">
            <div class="square export"></div>
            Export
          </div>
          <div class="legend-item">{{ 'CURRENCY' | translate }} <strong>pound sterling</strong></div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 well">
      <h4>{{ 'WORLD_NB_REPORTINGS' | translate }}</h4>
      <bar-chart
        class="dataviz"
        ng-data="nbReportings"
        start-date="selectedMinDate"
        end-date="selectedMaxDate"
        raw-start-date="rawMinDate"
        raw-end-date="rawMaxDate"
        tooltip-function="nbReportingTooltip"
      ></bar-chart>
      <div class="legend">
        <div class="legend-item">
          <div class="square import"></div>
          {{ 'WORLD_REPORTINGS_1' | translate }}
          <a href="#/glossary#worldTrade">{{worldPartner.name.value}}</a>
          {{ 'WORLD_REPORTINGS_2' | translate }}
        </div>
      </div>
    </div>
    <div class="col-sm-12 well comparison">
      <h4 class="titleMultiLine flex-title">
        <div>
          {{ 'WORLD_COMPARAISON' | translate }}
          <div class="inline-select">
            <ui-select
              ng-model="entities.sourceCountryEntity.selected"
              theme="bootstrap"
              ng-change="change(entities.sourceCountryEntity.selected)"
            >
              <ui-select-match class="ui-select-match" placeholder="Reporting"></ui-select-match>
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in reportingCountryEntities | filter: $select.search"
              >
                <div ng-bind-html="item.RICname | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div>
          {{selectedMinDate}} – {{selectedMaxDate}}, in
          <div class="inline-select">
            <ui-select
              ng-model="$parent.linechartCurrency"
              theme="bootstrap"
              ng-change="changeCurrency(linechartCurrency)"
            >
              <ui-select-match class="ui-select-match" placeholder="Select sterling or percent"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in linechartCurrencyChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          for
          <div class="inline-select">
            <ui-select ng-model="$parent.linechartFlow" theme="bootstrap" ng-change="changeFlow(linechartFlow)">
              <ui-select-match class="ui-select-match" placeholder="Select type flow"
                >{{$select.selected.name.value}}</ui-select-match
              >
              <ui-select-choices
                class="ui-select-choices"
                repeat="item in linechartFlowChoices | filter: $select.search"
              >
                <div ng-bind-html="item.name.value | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="subtitle">{{'LINE_CHART_SELECT' | translate }}</div>
        <div>
          <span class="entity" ng-repeat="elm in reporting" ng-click="removeReporting(elm)" ng-style="{color:elm.color}"
            >{{elm.RICname}}
            <span class="close-btn">
              <i class="fa fa-times-circle"></i>
            </span>
            <span ng-if="!$last">, </span>
          </span>
        </div>
      </h4>
      <p class="paragraphViz">
        {{ 'WORLD_LINES_1' | translate }}
        <a href="#/glossary#worldTrade">{{'WORLD_TRADE' | translate}}</a> {{ 'WORLD_LINES_2' | translate }}
        <a href="#/glossary#worldTrade">{{worldPartner.name.value}}</a>
      </p>
      <div class="row">
        <div class="col-md-12">
          <div id="select-lineChart">
            <linechart-world
              class="dataviz"
              ng-data="linechartData"
              currency="linechartCurrency"
              start-date="selectedMinDate"
              end-date="selectedMaxDate"
              view="view"
            >
            </linechart-world>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center shdt">
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-default"
          ng-model="viewTable"
          btn-checkbox
          btn-checkbox-true="1"
          btn-checkbox-false="0"
        >
          {{ 'DOWNLOAD_1' | translate }}
        </button>
        <button type="button" ng-click="download()" class="btn btn-default">
          {{ 'DOWNLOAD_2' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div ng-if="viewTable" class="row table-cont">
    <div class="col-sm-12 grid-cont">
      <div class="grid gridStyle" ui-grid="gridOptions" ui-grid-pagination></div>
    </div>
  </div>
</div>
